<div>
	
		
		<fieldset class="fieldset-primary">
		<legend class="lengend-primary">
			<b translate="vnm.FormPrintWarranty.table.tile.serials"></b>
		</legend>
			<div class="col-md-12 md-height-400">
				<table id="tableViewSerialPrintWarranty" class="table-bordered" style="width: 100%">
					<thead class="ng-table-sort-header">
						<tr>
							<th width="9%" translate="vnm.FormPrintWarranty.table.column.serial"></th>
							<th width="9%" translate="vnm.FormPrintWarranty.table.column.SPBH"></th>
							<th width="9%" translate="vnm.FormPrintWarranty.table.column.serial1"></th>
							<th width="9%" translate="vnm.FormPrintWarranty.table.column.serial2"></th>
							<th width="9%" translate="vnm.FormPrintWarranty.table.column.serial3"></th>
							<th width="9%" translate="vnm.FormPrintWarranty.table.column.serial4"></th>
							<th width="9%" translate="vnm.FormPrintWarranty.table.column.serial5"></th>
							<th width="9%" translate="vnm.FormPrintWarranty.table.column.expertdate"></th>
						</tr>
					</thead>
				</table>
			</div>
		<div class="col-md-12" style="text-align: center;">
			<button type="button" name="btnBack" style="width: 100px" data-dismiss="modal" class="btn btn-primary">
				<i class="fa fa-rotate-left"></i> <label translate="vnm.common.label.btn.back"></label>
			</button>
		</div>
		</fieldset>


	
</div>