<div>
	<fieldset
		style="border: 1px groove #ddd !important; padding: 1em 0em 0.2em 0.3em !important; margin: 0 0 1.5em 0 !important; -webkit-box-shadow: 0px 0px 0px 0px #000; box-shadow: 0px 0px 0px 0px #000;">
		<legend style="width: inherit; padding: 0 10px; border-bottom: none; color: #f56400">
			<b translate="vnm.stock_view_detail.label.search"></b>
		</legend>

		<div class="form-group">
			<label class="control-label col-md-1" translate="vnm.stock_view_detail.label.from.serial" />
			<div class="col-md-2">
				<input type="text" class="form-control" ng-model="model.fromSerial" ng-disabled="isNotSearch" />
			</div>
			<label class="control-label col-md-1" translate="vnm.stock_view_detail.label.to.serial" />
			<div class="col-md-2">
				<input type="text" class="form-control" ng-model="model.toSerial" ng-disabled="isNotSearch" />
			</div>
			<label class="control-label col-md-1" translate="vnm.stock_view_detail.label.number" />
			<div class="col-md-2">
				<input type="text" class="form-control" ng-model="model.number" ng-disabled="isNotSearch" onkeypress="return valid_numbers(event)" />
			</div>

			<button type="button" class="btn btn-primary btn-primary-120" style="margin-left: 10px;" ng-click="showDialogAddFile()" ng-disabled="isNotSearch">
				<span class="fa fa-upload"></span> <span translate="vnm.stock_view_detail.label.btn.push"></span>
			</button>

			<button type="button" name="btnDetail" style="width: 100px; margin-left: 10px;" class="btn btn-primary" ng-click="btnSearchSerial()"
				ng-disabled="isNotSearch">
				<i class="fa fa-search"></i> <label translate="vnm.stock_view_detail.label.btn.search"></label>
			</button>
		</div>

		<div class="form-group">
			<label class="control-label col-md-1" translate="vnm.stock_view_detail.label.serial" />
			<div class="col-md-8">
				<input type="text" class="form-control" ng-model="model.serial" ng-disabled="!isNotSearch" ng-blur="searchSingelSerial()" />
			</div>
			<input type="checkbox" ng-click="checkBarCode(item)" ng-model="item.typeCheckBox" style="margin-left: 80px;" id="checkBoxBC"/> <i></i> <label
				translate="vnm.stock_view_detail.label.barcode"></label>
		</div>
	</fieldset>

	<fieldset
		style="border: 1px groove #ddd !important; padding: 1em 0em 0.2em 0.3em !important; margin: 0 0 1.5em 0 !important; -webkit-box-shadow: 0px 0px 0px 0px #000; box-shadow: 0px 0px 0px 0px #000;">
		<legend style="width: inherit; padding: 0 10px; border-bottom: none; color: #f56400">
			<b translate="vnm.stock_view_detail.label.serial.transfer"></b>
		</legend>
		<div class="col-md-1nw ">
			<fieldset class="fieldset-primary" style="overflow: scroll; height: 300px;">
				<legend class="lengend-primary">
					<b translate="vnm.stock_view_detail.label.serial.inventory"></b>
				</legend>
				<div class="col-md-12">
					<div class="form-group">
						<div class="form-group">
							<div class="col-md-12">
								<table id="tblSerialSingle" class="table-bordered" style="width: 100%; min-width: 90%;">
									<thead class="ng-table-sort-header">
										<tr>
											<th width="50%" translate="vnm.common_table.column.serial"></th>
											<th width="50%" translate="vnm.common_table.column.warranty.no"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

			</fieldset>

		</div>
		<div class="col-md-2nw" style="margin-top: 80px; height: 220px">
			<div>
				<button type="button" name="btnDetail" style="width: 90%; margin-left: 5%;" class="btn btn-primary" ng-click="addAllSerial()"
					ng-disabled="model.showAddSerial">
					<i></i> <label translate="vnm.common.paging.last"></label>
				</button>
			</div>
			<div>
				<button type="button" name="btnDetail" style="width: 90%; margin-left: 5%; margin-top: 20px;" class="btn btn-primary" ng-click="addSerial()"
					ng-disabled="model.showAddSerial">
					<i></i> <label translate="vnm.common.paging.next"></label>
				</button>
			</div>
			<div>
				<button type="button" name="btnDetail" style="width: 90%; margin-left: 5%; margin-top: 20px;" class="btn btn-primary" ng-click="removeSerial()"
					ng-disabled="model.showRemoveSerial">
					<i></i> <label translate="vnm.common.paging.prev"></label>
				</button>
			</div>
			<div>
				<button type="button" name="btnDetail" style="width: 90%; margin-left: 5%; margin-top: 20px;" class="btn btn-primary" ng-click="removeAll()"
					ng-disabled="model.showRemoveSerial">
					<i></i> <label translate="vnm.common.paging.first"></label>
				</button>
			</div>
		</div>
		<div class="col-md-1nw ">
			<fieldset class="fieldset-primary" style="overflow: scroll; height: 300px;">
				<legend class="lengend-primary">
					<b translate="vnm.stock_view_detail.label.serial.transfered"></b>

				</legend>
				<div class="col-md-12">
					<div class="form-group">
						<div class="form-group">
							<div class="col-md-12">
								<table id="tblSerialSingle2" class="table-bordered" style="width: 100%; min-width: 90%;">
									<thead class="ng-table-sort-header">
										<tr>
											<th width="50%" translate="vnm.common_table.column.serial"></th>
											<th width="50%" translate="vnm.common_table.column.warranty.no"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

			</fieldset>

		</div>
	</fieldset>

	<div class="form-group">
		<div class="col-md-12" style="text-align: center;">

			<button type="button" name="btnSave" style="width: 100px" class="btn btn-primary" ng-click="btnAcceptClick()">
				<i class="fa fa-thumbs-o-up"></i> <label translate="vnm.stock_view_detail.label.btn.accept"></label>
			</button>

			<button type="button" name="btnBack" style="width: 100px" ng-click="btnBackSerial()" class="btn btn-primary">
				<i class="fa fa-rotate-left"></i> <label translate="vnm.common.label.btn.back"></label>
			</button>
		</div>
	</div>
</div>