<div>
	<fieldset class="fieldset-primary">
		<legend class="lengend-primary">
			<b translate="vnm.form_enquery_serial.label.dialog.no.found"></b>
		</legend>
		<fieldset class="fieldset-primary">
			<div class="col-md-12 md-height-400">
				<table id="tableViewSerialNoFound" class="table-bordered" style="width: 100%">
					<thead class="ng-table-sort-header">
						<tr>
							<th width="100%" translate="vnm.form_enquery_serial.column.serial"></th>
						</tr>
					</thead>
				</table>
			</div>
		</fieldset>

		<div class="col-md-12" style="text-align: center;">
			<button type="button" name="btnBack" style="width: 100px" data-dismiss="modal" class="btn btn-primary">
				<i class="fa fa-rotate-left"></i> <label translate="vnm.common.label.btn.back"></label>
			</button>
		</div>
	</fieldset>
</div>