<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layout/layout :: layout">
<head th:include="layout/layout :: header">
<title id="pageTitle">Nhập hàng trả lại từ cấp dưới</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="page-content" th:fragment="content">
		<script src="/views/epos/inventory/formStockImportFromInferior.js"
			type="text/javascript"></script>
		<div ng-controller="ctrl-stockImportInferior" id="contentMain"
			class="ng-cloak">
			<div class="portlet light bordered">
				<!-- <div class="portlet-title">
					<div class="caption">
						<i class="icon-plus font-orange"></i> <span
							class="caption-subject font-orange bold uppercase"
							translate="vnm.ImportFromToInferior.page.title"></span>
					</div>
				</div> -->
				<div class="portlet-body form">
					<fieldset class="fieldset-primary">
						<legend class="lengend-primary">
							<b translate="vnm.ImportFromInferior.page.title"></b>
						</legend>
						<form name="frm_importFromToInferior"
							class="form-horizontal  form-bordered" method="post"
							ng-validate="validationOptions">
							<div class="form-body">
								<div class="tabbable-custom ">

									<div class="tab-content">

										<div class="tab-pane active" id="tab_5_1">
											<fieldset class="fieldset-primary">
												<legend class="lengend-primary">
													<b translate="vnm.ImportFromInferior.fieldset.title.ballot"></b>
												</legend>

												<div class="form-group">
													<label class="control-label col-md-1"
														translate="vnm.ImportFromInferior.label.shoptype"></label>
													<div class="col-md-5">
														<ui-select ng-model="model.shoptype" class=""
															ng-disabled="isDisableSearchValue" ng-init="">
														<ui-select-match>{{$select.selected.name}}</ui-select-match>
														<ui-select-choices style="width: auto;"
															repeat="x.code as x in listgetShopType | filter:$select.search">
														{{x.code}} - {{x.name}} </ui-select-choices> </ui-select>
													</div>
													<label class="control-label col-md-1"
														translate="vnm.common.label.status"> </label>
													<div class="col-md-3">
														<ui-select ng-model="model.status" class=""
															ng-disabled="isDisableSearchValue" ng-init="">
														<ui-select-match>{{$select.selected.name}}</ui-select-match>
														<ui-select-choices style="width: auto;"
															repeat="x.code as x in listgetStatus | filter:$select.search">
														{{x.code}} - {{x.name}} </ui-select-choices> </ui-select>
													</div>
													<div class="col-md-2" style="text-align: center;">
														<button type="button" name="btnSearch"
															style="width: 100px; height: 30px;"
															ng-disabled="isDisableBtnSearch" class="btn btn-primary"
															ng-click="btnSearchOnclick()">
															<i class="fa fa-search"></i> <label
																translate="vnm.common.btn.search"></label>
														</button>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-1"
														translate="vnm.ImportFromInferior.label.inventory.export"></label>
													<div class="col-md-2">
														<ui-select ng-model="model.stockExport" class=""
															ng-disabled="isDisableSearchValue"
															on-select="onChooseStock()" style="width: 100%;">
														<ui-select-match>{{$select.selected.code}}</ui-select-match>
														<ui-select-choices
															repeat="x in lstStockExport | filter:$select.search">
														{{x.code}} - {{x.name}} </ui-select-choices> </ui-select>
													</div>
													<div class="col-md-3">
														<input type="text" class="form-control" ng-disabled="true"
															ng-model="model.stockExportName" />
													</div>

													<label class="control-label col-md-1"
														translate="vnm.ImportFromInferior.label.order.code"></label>
													<div class="col-md-3">
														<input ng-model="model.orderCode" id="orderCode"
															ng-disabled="isDisableSearchValue" name="orderCode"
															class="form-control" />
													</div>

												</div>

												<div class="form-group">
													<label class="control-label col-md-1"
														translate="vnm.common.label.reason"></label>
													<div class="col-md-2">
														<input type="text" class="form-control" ng-disabled="true"
															ng-model="model.reason" />
													</div>

													<div class="col-md-3">
														<input type="text" class="form-control" ng-disabled="true"
															ng-model="model.reasonName" />
													</div>

													<label class="control-label col-md-1"
														translate="vnm.ImportFromInferior.label.bill.code"></label>
													<div class="col-md-3">
														<input ng-model="model.billCode" id="billCode"
															ng-disabled="isDisableSearchValue" name="billCode"
															class="form-control" />
													</div>
												</div>


												<div class="form-group">

													<label class="control-label col-md-1"
														translate="vnm.common.label.note"></label>
													<div class="col-md-5">
														<input ng-model="model.note" id="note" name="note"
															ng-disabled="isDisableSearchValue" class="form-control" />
													</div>
													<label class="control-label col-md-1"
														translate="vnm.common.label.from.date"></label>
													<div class="col-md-3">
														<input ng-model="model.searchFromDate" id="fromDate"
															ng-disabled="isDisableSearchValue" name="searchFromDate"
															datetime-picker="" date-only="" date-format="DD/MM/YYYY"
															class="form-control" />
													</div>

												</div>
											</fieldset>

											<div class="form-group">
												<fieldset class="fieldset-primary">
													<legend class="lengend-primary">
														<b translate="vnm.ImportFromInferior.fieldset.trans.info"></b>
													</legend>

													<div class="col-md-12">
														<div class="form-group" style="overflow: scroll;">
															<div class="col-md-12">
																<table id="tableTransInfo" class="table-bordered"
																	style="width: 100%">
																	<thead class="ng-table-sort-header">
																		<tr>
																			<th>Kho xuất</th>
																			<th>Mã MH</th>
																			<th>Mã Phiếu</th>
																			<th>Ngày thực hiện</th>
																			<th>Lý Do</th>
																			<th>Trạng thái</th>
																			<th>Ghi chú</th>
																		</tr>
																	</thead>
																	<tbody>

																	</tbody>
																</table>
															</div>
														</div>


													</div>

												</fieldset>
											</div>

											<div class="form-group">
												<div class="col-md-6 md-height-500">
													<fieldset class="fieldset-primary-1">
														<legend class="lengend-primary">
															<b
																translate="vnm.ImportFromInferior.fieldset.title.list.item"></b>
														</legend>
														<div class="form-group">
															<div class="col-md-12">
																<div class="table-scrollable">
																	<table id="tableGoodsForm" class="table-bordered"
																		style="width: 100%">
																		<thead class="ng-table-sort-header">
																			<tr>
																				<th width="20%">Mã MH</th>
																				<th width="20%">Tên MH</th>
																				<th width="20%">Trạng thái</th>
																				<th width="20%">Đơn vị</th>
																				<th width="20%">Số lượng</th>
																			</tr>
																		</thead>
																	</table>
																</div>
															</div>
														</div>
													</fieldset>
												</div>

												<div class="col-md-6 md-height-500">
													<fieldset class="fieldset-primary-1">
														<legend class="lengend-primary">
															<b
																translate="vnm.ExportStockToPartner.label.input.detail"></b>
														</legend>

														<div class="form-group">
															<label class="control-label col-md-2"
																translate="vnm.ImportFromInferior.label.source"></label>

															<div class="col-md-10">
																<ui-select ng-model="model.resourceCodeForm" class=""
																	ng-disabled="true" style="width: 100%;"> <ui-select-match>{{$select.selected.name}}</ui-select-match>
																<ui-select-choices
																	repeat="x in lstGoodsResourceForm | filter:$select.search">
																{{x.code}} - {{x.name}} </ui-select-choices> </ui-select>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-2"
																translate="vnm.ImportFromInferior.label.good.type"></label>

															<div class="col-md-10">
																<ui-select ng-model="model.internalStock" class=""
																	ng-disabled="true" style="width: 100%;"> <ui-select-match>{{$select.selected.name}}</ui-select-match>
																<ui-select-choices
																	repeat="x in listgetInternalStock | filter:$select.search">
																{{x.code}} - {{x.name}} </ui-select-choices> </ui-select>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-2"
																translate="vnm.ImportFromInferior.label.item"></label>

															<div class="col-md-3">
																<ui-select ng-model="model.goodsForm" class=""
																	id="goodCode" ng-disabled="true" style="width: 100%;">
																<ui-select-match>{{$select.selected.goodsCode}}</ui-select-match>
																<ui-select-choices
																	repeat="x in lstGoodsForm | filter:$select.search">
																{{x.goodsCode}} - {{x.name}} </ui-select-choices> </ui-select>
															</div>

															<div class="col-md-5">
																<input type="text" class="form-control"
																	ng-disabled="true" ng-model="model.goodsFormName" />
															</div>

															<div class="col-md-2">
																<button type="button" name="viewStock"
																	style="width: 100%" class="btn btn-primary"
																	ng-disabled="btnViewStock" ng-click="viewStock()">
																	<i class="fa fa-search"></i> <label
																		translate="vnm.ExportStockToPartner.label.button.view.stock"></label>
																</button>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-2"
																translate="vnm.ExportStockToPartner.label.good.status"></label>

															<div class="col-md-3">
																<ui-select ng-model="model.state" class=""
																	ng-disabled="true" style="width: 100%;"> <ui-select-match>{{$select.selected.name}}</ui-select-match>
																<ui-select-choices
																	repeat="x in lstStatesForm | filter:$select.search">
																{{x.stateId}} - {{x.name}} </ui-select-choices> </ui-select>
															</div>

															<label class="control-label col-md-2"
																translate="vnm.ExportStockToPartner.label.good.quantity"></label>

															<div class="col-md-3">
																<input type="text" class="form-control"
																	id="mdnNumberDetail" ng-disabled="true"
																	ng-model="model.mdnNumberDetail" />
															</div>

															<div class="col-md-2">
																<button type="button" name="viewDetail"
																	ng-disabled="isDisabledDetail" style="width: 100%"
																	class="btn btn-primary" ng-click="btnSerialList()">
																	<i class="fa fa-info"></i> <label
																		translate="vnm.ExportStockToPartner.label.button.view.detail"></label>
																</button>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-2"
																translate="vnm.ExportStockToPartner.label.good.note"></label>

															<div class="col-md-10">
																<textarea name="Text1" style="width: 100%;" rows="15"
																	ng-disabled="true" ng-model="model.goodNote"></textarea>
															</div>
														</div>

														<div class="form-group" style="padding-top: 10px">
															<div class="col-md-12" style="text-align: center;"
																id="pnlButtonAction">
																<button type="button" name="btnEdit"
																	ng-show="showBtnEditSerial"
																	ng-disabled="isDisabledBtnEdit"
																	class="btn btn-primary btn-primary-100"
																	ng-click="btnEditOnclick()">
																	<i class="fa fa-edit"></i><label
																		translate="vnm.common.btn.edit"></label>
																</button>
															</div>

															<div class="col-md-12" style="text-align: center;"
																id="pnlButtonOK">
																<button type="button" name="btnOk"
																	class="btn btn-primary btn-primary-100"
																	ng-show="showModifySerial"
																	ng-click="btnAcceptModifySerial()">
																	<i class="fa fa-thumbs-o-up"></i><label
																		translate="vnm.common.btn.approve"></label>
																</button>
																<button type="button" name="btnCancel"
																	class="btn btn-primary btn-primary-100"
																	ng-show="showModifySerial"
																	ng-click="btnCancelModifySerial()">
																	<i class="fa fa-long-arrow-left"></i><label
																		translate="vnm.common.btn.cancel"></label>
																</button>
															</div>
														</div>


													</fieldset>

												</div>
											</div>

											<div class="form-group"
												style="padding-top: 20px; padding-bottom: 20px;">

												<div class="col-md-12" style="text-align: center;">

													<button type="button" name="btnEditCommand"
														ng-show="showBtn" class="btn btn-primary btn-primary-100"
														ng-disabled="isDisabledBtnCommand"
														ng-click="btnEditCommandOnclick()">
														<i class="fa fa-edit"></i> <label
															translate="vnm.common.btn.edit.command"></label>
													</button>
													<button type="button" name="btnImportCommand"
														ng-show="showBtn" class="btn btn-primary btn-primary-100"
														ng-disabled="isDisabledBtnCommand"
														ng-click="btnImportCommandOnclick()">
														<i class="glyphicon glyphicon-floppy-save"></i> <label
															translate="vnm.common.btn.import.command"></label>
													</button>
													<button type="button" name="btnApproveCommand"
														ng-show="showBtn" class="btn btn-primary btn-primary-100"
														ng-disabled="isDisabledBtnAproveCommand"
														ng-click="btnApproveCommandOnclick()">
														<i class="fa fa-thumbs-o-up"></i> <label
															translate="vnm.common.btn.aprove.command"></label>
													</button>

													<button type="button" name="btnPrint" ng-show="showBtn"
														class="btn btn-primary btn-primary-100"
														ng-disabled="isDisabledBtnPrint"
														ng-click="btnPrintOnclick()">
														<i class="fa fa-print"></i> <label
															translate="vnm.common.btn.print"></label>
													</button>
													<div class="col-md-12" style="text-align: center;">
														<button type="button" name="btnApprove2"
															class="btn btn-primary btn-primary-100"
															ng-show="showModifyGood" ng-click="btnAproveCommand()">
															<i class="fa fa-thumbs-o-up"></i><label
																translate="vnm.common.btn.approve"></label>
														</button>
														<button type="button" name="btnCancel2"
															ng-show="showModifyGood"
															class="btn btn-primary btn-primary-100"
															ng-click="btnCancelCommand()">
															<i class="fa fa-long-arrow-left"></i><label
																translate="vnm.common.btn.cancel"></label>
														</button>
														<button type="button" name="btnApprove3"
															class="btn btn-primary btn-primary-100"
															ng-show="showApproveConfirm"
															ng-click="btnAproveConfirm()">
															<i class="fa fa-thumbs-o-up"></i> <label
																translate="vnm.common.btn.approve"></label>
														</button>
														<button type="button" name="btnReject"
															ng-show="showApproveConfirm"
															class="btn btn-primary btn-primary-100"
															ng-click="btnRejectCommandOnclick()">
															<i class="fa fa-long-arrow-left"></i><label
																translate="vnm.common.btn.reject"></label>
														</button>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- 1190 modal xem thong tin kho -->

							<div class="modal fade" id="modalStockInfo" role="dialog"
								data-keyboard="false" data-backdrop="static">
								<div class="modal-dialog" style="min-width: 1100px">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title"
												translate="vnm.common.label.view.stock.info"></h4>
										</div>
										<div class="modal-body">
											<div ng-include="'/popup/stockViewInfo'"></div>
										</div>
									</div>
								</div>
							</div>

							<div class="modal fade" id="modalSerialListDetail" role="dialog"
								data-keyboard="false" data-backdrop="static">
								<div class="modal-dialog" style="min-width: 900px">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title"
												translate="vnm.common.label.list.serials"></h4>
										</div>
										<div class="modal-body">
											<div ng-include="'/popup/serialList'"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- 1190 modal xem thong tin kho -->

							<div class="modal fade" id="modalSerialList" role="dialog"
								data-keyboard="false" data-backdrop="static">
								<div class="modal-dialog" style="min-width: 1100px">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Nhập hàng vào hệ thống</h4>
										</div>
										<div class="modal-body">
											<div ng-include="'/popup/dialogSerialList'"></div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</body>
</html>