
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: layout">
<head th:include="layout/layout :: header">
<title id="pageTitle"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="page-content" th:fragment="content">

		<script src="/views/epos/sales/DialogInvoiceInputEstablish.js" type="text/javascript"></script>
		<div ng-controller="ctrl-DialogInvoiceInputEstablish" id="contentMain" class="ng-cloak">
			<div class="portlet light bordered">
				<div class="portlet-body form">
					<fieldset class="fieldset-primary">
						<legend class="lengend-primary">
							<b translate="vnm.DialogInvoiceInputEstablish.page.title"></b>
						</legend>
						<form name="frm_stockExportToCenter" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
							<div class="form-body">
								<div class="tabbable-custom ">
									<div class="tab-content">
										<div class="tab-pane active" id="tab_5_1">
											<fieldset class="fieldset-primary">
												<legend class="lengend-primary">
													<b translate="vnm.DialogInvoiceInputEstablish.label.seachdeal"></b>
												</legend>
												<div class="form-group">
													<label class="control-label col-md-1" translate="vnm.DialogInvoiceInputEstablish.label.store"></label>
													<div class="col-md-1">
														<input type="text" class="form-control" style="display: none" id="shopCode" ng-change="changeshopcode()" ng-disabled="true" ng-model="model.shopId" />
														<input type="text" class="form-control" data-toggle="tooltip" ng-blur="changeshopcode()" data-placement="top" title="" ng-model="model.shopCode" id="fShopCode" />
													</div>
													<div class="col-md-3">
														<input type="text" class="form-control" ng-disabled="true" ng-model="model.shopName" id="fShopName" />
													</div>
													<label class="control-label col-md-1" translate="vnm.DialogInvoiceInputEstablish.label.employees"></label>
													<div class="col-md-1">
															<input type="text" class="form-control" style="display: none" ng-disabled="true" ng-model="model.staffId" />
														<input type="text" class="form-control"  ng-blur="changeStaffCode()" ng-model="model.Staffcode" id="fStaffCode" />
													</div>
													<div class="col-md-3">
														<input type="text" class="form-control" ng-disabled="true" ng-model="model.Staffname" id="fStaffName" />
													</div>
													<div class="col-md-2" style="text-align: center;">
														<button type="button" name="Search" class="btn btn-primary" ng-click="onSearchInputEstablish()">
															<i class="fa glyphicon glyphicon-search"></i> <label translate="vnm.InputFromCenter.label.btn.search.serial"></label>
														</button>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-1" translate="vnm.DialogInvoiceInputEstablish.label.kgdeal"></label>
													<div class="col-md-4">
														<ui-select id="typedeal" ng-model="model.typedeal" ng-change="changeStockName()" class="" style="width: 100%;" remove-selected="false"
															data-toggle="tooltip" data-placement="top" title="" theme="bootstrap"> <ui-select-match>{{$select.selected.Title}}</ui-select-match>
														<ui-select-choices repeat="x.Id as x in typedeal | filter:$select.search"> {{x.Id}} - {{x.Title}} </ui-select-choices></ui-select>
													</div>
													<label class="control-label col-md-1" translate="vnm.DialogInvoiceInputEstablish.lable.pay"></label>
													<div class="col-md-4">
														<ui-select id="typepay" ng-model="model.typepay" ng-change="changeStockName()" class="" style="width: 100%;" remove-selected="false"
															data-toggle="tooltip" data-placement="top" title="" theme="bootstrap"> <ui-select-match>{{$select.selected.Title}}</ui-select-match>
														<ui-select-choices repeat="x.Id as x in typepay | filter:$select.search"> {{x.Id}} - {{x.Title}} </ui-select-choices></ui-select>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-1" translate="vnm.InputFromCenter.label.from.date"></label>
													<div class="col-md-4">
														<input ng-model="model.searchFromDate" ng-blur="checkfromdate()" id="fromDate" name="searchFromDate" datetime-picker="" date-only=""
															date-format="DD/MM/YYYY" class="form-control" />
													</div>

													<label class="control-label col-md-1" translate="vnm.InputFromCenter.label.to.date"></label>
													<div class="col-md-4">
														<input ng-model="model.searchToDate" ng-blur="checktodate()" id="toDate" name="searchToDate" datetime-picker="" date-only=""
															date-format="DD/MM/YYYY" class="form-control" />
													</div>
												</div>

											</fieldset>


											<div class="form-group">
												<div class="col-md-6 " style="height: 800px">
													<fieldset class="fieldset-primary-1" style="height: 255px;">
														<legend class="lengend-primary">
															<b translate="vnm.DialogInvoiceInputEstablish.label.list.good"></b>
														</legend>
														<div class="form-group">
															<div class="col-md-12" style="overflow-x: auto;">
																<div class="table-scrollable" style="overflow-x: auto;">
																	<table id="tabledeal" class="table-bordered" style="width: 100%;min-width: 900px;">
																		<thead class="ng-table-sort-header">
																			<tr>
																				<th width="5%">+</th>
																				<th width="20%">Trạng GD</th>
																				<th width="20%">Ngày GD</th>
																				<th width="20%">Mã số/Mã xuất</th>
																				<th width="20%">Nhân viên GD</th>
																				<th width="20%">Khách hàng</th>
																			</tr>
																		</thead>
																	</table>
																</div>
															</div>
														</div>
													</fieldset>
													<fieldset class="fieldset-primary-1" style="height: 255px;">
														<legend class="lengend-primary">
															<b translate="vnm.DialogInvoiceInputEstablish.label.list.good"></b>
														</legend>
														<div class="form-group">
															<div class="col-md-12">
																<div class="table-scrollable">
																	<table id="tableservice" class="table-bordered" style="width: 100%;min-width: 1000px;">
																		<thead class="ng-table-sort-header">
																			<tr>
																				<th width="20%">Mặt hàng</th>
																				<th width="10%">Số lượng</th>
																				<th width="15%">Đơn giá</th>
																				<th width="15%">CK</th>
																				<th width="10%">KM</th>
																				<th width="10%">VAT</th>
																				<th width="15%">Tổng tiền</th>
																			</tr>
																		</thead>
																	</table>
																</div>
															</div>
														</div>
													</fieldset>
													<fieldset class="fieldset-primary-1" style="height: 248px;">
														<legend class="lengend-primary">
															<b translate="vnm.DialogInvoiceInputEstablish.label.list.good"></b>
														</legend>
														<div class="form-group">
															<div class="col-md-12">
																<div class="table-scrollable">
																	<table id="tablegoods" class="table-bordered" style="width: 100%">
																		<thead class="ng-table-sort-header">
																			<tr>
																				<th width="50%">Số serial</th>
																				<th width="50%">Ngày nhập</th>
																			</tr>
																		</thead>
																	</table>
																</div>
															</div>
														</div>
													</fieldset>
												</div>

												<div class="col-md-6 " style="height: 800px">
													<fieldset class="fieldset-primary-1">
														<legend class="lengend-primary">
															<b translate="vnm.DialogInvoiceInputEstablish.label.input.detail"></b>
														</legend>

														<div class="form-group" style="padding-top: 37px">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.numbebill"></label>
															<div class="col-md-10">
																<input type="text" class="form-control" ng-disabled="true" ng-model="model.numbebill" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.datecreck"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="true" ng-model="model.datecreck" id="datecreck" />
															</div>
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.status"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="true" ng-model="model.status" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.store"></label>
															<div class="col-md-4">
																<ui-select ng-disabled="true" id="shopCode" ng-model="model.shop" ng-change="changeshopcode()" class="" style="width: 100%;"
																	remove-selected="false" data-toggle="tooltip" data-placement="top" title="" theme="bootstrap"> <ui-select-match>{{$select.selected.shopCode}}</ui-select-match>
																<ui-select-choices repeat="x in listShop | filter:$select.search | limitTo: limitCbb"> {{x.shopCode}} - {{x.shopName}} </ui-select-choices></ui-select>
															</div>
															<div class="col-md-6">
																<ui-select id="shopCode" ng-disabled="true" ng-model="model.shop" ng-change="changeshopcode()" class="" style="width: 100%;"
																	remove-selected="false" data-toggle="tooltip" data-placement="top" title="" theme="bootstrap"> <ui-select-match>{{$select.selected.shopName}}</ui-select-match>
																<ui-select-choices repeat="x in listShop | filter:$select.search | limitTo: limitCbb"> {{x.shopCode}} - {{x.shopName}} </ui-select-choices></ui-select>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.employees"></label>
															<div class="col-md-4">
																<ui-select id="StaffCode" ng-disabled="true" ng-model="model.Staff" ng-change="changeStaffCode()" class="" style="width: 100%;"
																	remove-selected="false" data-toggle="tooltip" data-placement="top" title="" theme="bootstrap"> <ui-select-match>{{$select.selected.code}}</ui-select-match>
																<ui-select-choices repeat="x in listStaff | filter:$select.search | limitTo: limitCbb"> {{x.code}} - {{x.name}} </ui-select-choices></ui-select>
															</div>
															<div class="col-md-6">
																<ui-select id="StaffCode" ng-disabled="true" ng-model="model.Staff" ng-change="changeStaffCode()" class="" style="width: 100%;"
																	remove-selected="false" data-toggle="tooltip" data-placement="top" title="" theme="bootstrap"> <ui-select-match>{{$select.selected.name}}</ui-select-match>
																<ui-select-choices repeat="x in listStaff | filter:$select.search | limitTo: limitCbb"> {{x.code}} - {{x.name}} </ui-select-choices></ui-select>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.gdich"></label>
															<div class="col-md-4">
																<ui-select ng-disabled="true" id="typedeal" ng-model="model.typedeal" ng-change="changeStockName()" class="" style="width: 100%;"
																	remove-selected="false" data-toggle="tooltip" data-placement="top" title="" theme="bootstrap"> <ui-select-match>{{$select.selected.Id}}</ui-select-match>
																<ui-select-choices repeat="x.Id as x in typedeal | filter:$select.search"> {{x.Id}} - {{x.Title}} </ui-select-choices></ui-select>
															</div>
															<div class="col-md-6">
																<ui-select ng-disabled="true" id="typedeal" ng-model="model.typedeal" ng-change="changeStockName()" class="" style="width: 100%;"
																	remove-selected="false" data-toggle="tooltip" data-placement="top" title="" theme="bootstrap"> <ui-select-match>{{$select.selected.Title}}</ui-select-match>
																<ui-select-choices repeat="x.Id as x in typedeal | filter:$select.search"> {{x.Id}} - {{x.Title}} </ui-select-choices></ui-select>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.namekh"></label>
															<div class="col-md-10">
																<input type="text" class="form-control" ng-disabled="" ng-model="model.namekh" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.namect"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="" ng-model="model.namect" />
															</div>
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.address"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="" ng-model="model.address" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.numbetk"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="" ng-model="model.numbetk" />
															</div>
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.texcode"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="" ng-model="model.texcode" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.httt"></label>
															<div class="col-md-4">
																<ui-select ng-disabled="true" id="typepay" ng-model="model.typepay" ng-change="changeStockName()" class="" style="width: 100%;"
																	remove-selected="false" data-toggle="tooltip" data-placement="top" title="" theme="bootstrap"> <ui-select-match>{{$select.selected.Title}}</ui-select-match>
																<ui-select-choices repeat="x.Id as x in typepay | filter:$select.search"> {{x.Id}} - {{x.Title}} </ui-select-choices></ui-select>
															</div>
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.Exchangerate"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="true" ng-model="model.Rate" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.Moneynottaxed"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="true" ng-model="model.Amount" />
															</div>
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.Promotion"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="true" ng-model="model.Promotion" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.Discount"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="true" ng-model="model.Discount" />
															</div>
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.Taxmoney"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="true" ng-model="model.Tax" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.Moneywithtaxes"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="true" ng-model="model.AmountTax" />
															</div>
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.Naturalcurrency"></label>
															<div class="col-md-4">
																<input type="text" class="form-control" ng-disabled="true" ng-model="model.OrgAmount" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.Moneytopay"></label>
															<div class="col-md-4">
																<input style="color: red;" type="text" class="form-control" ng-disabled="true" ng-model="model.GrantAmount" />
															</div>
															<label class="control-label col-md-2"></label>
															<div class="col-md-4">
																<label class="control-label " translate="vnm.DialogInvoiceInputEstablish.label.vndtm"></label>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.commen"></label>
															<div class="col-md-10">
																<input type="text" class="form-control" ng-disabled="" ng-model="model.commen" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2" translate="vnm.DialogInvoiceInputEstablish.label.email"></label>
															<div class="col-md-10">
																<input type="text" class="form-control" ng-disabled="" ng-model="model.email" />
															</div>
														</div>

														<div class="form-group" style="padding-top: 196px; padding-bottom: 5px">
															<div class="col-md-12" style="text-align: center;" id="pnlButtonAction">
																<button type="button" name="btnAdd" ng-disabled="createHD" class="btn btn-primary " style="width: 130px" ng-click="btnSave()">
																	<i class="fa fa-plus-circle"></i> <label > Tạo HĐ ĐT</label>
																</button>
																<button type="button" name="btnEdit" ng-disabled="printHD" class="btn btn-primary " style="width: 130px" ng-click="btnEditOnclick()">
																	<i class="fa fa-print"></i> <label >In HĐ ĐT</label>
																</button>

																<button type="button" name="btnDelete" ng-disabled="printHDCD" class="btn btn-primary " style="width: 130px" ng-click="onPrintCInvoice2()">
																	<i class="fa fa-print"></i> <label > In HĐ chuyển đổi</label>
																</button>
															</div>
														</div>
													</fieldset>

												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							<!-- 1190 modal xem thong tin kho -->
							<div class="modal fade" id="modalListShop" role="dialog"
								data-keyboard="false" data-backdrop="static">
								<div class="modal-dialog" style="min-width: 1100px">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title"
												translate="vnm.common.label.list.shop"></h4>
										</div>
										<div class="modal-body">
											<div ng-include="'/popup/dialogListShop'"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade" id="modalListStaff" role="dialog"
								data-keyboard="false" data-backdrop="static">
								<div class="modal-dialog" style="min-width: 1100px">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title"
												translate="vnm.common.label.list.shop"></h4>
										</div>
										<div class="modal-body">
											<div ng-include="'/popup/dialogListStaff'"></div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
