<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: layout">
<head th:include="layout/layout :: header">
<title id="pageTitle">Tạo đơn đặt hàng</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="page-content" th:fragment="content">
		<script src="/views/css/inventory-management/editPurchaseOrder.js" type="text/javascript"></script>
		<div ng-controller="ctrl-editPurchaseOrder" id="editPurchaseOrderContent" class="ng-cloak">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-plus font-orange"></i> <span class="caption-subject font-orange bold uppercase">Sửa đơn đặt hàng </span>
					</div>
				</div>
				<div class="portlet-body form">
					<form name="frm_editPurchaseOrder" class="form-horizontal form-bordered" method="post" ng-validate="validationOptions">
						<div class="form-body">
							<div class="tabbable-custom ">
								<div class="tab-content">
									<div class="tab-pane  active" id="tab_5_1">
										<div class="form-group">
											<label class="control-label col-md-15">Mã cửa hàng</label>
											<div class="col-md-25">
												<input type="text" class="form-control" ng-model="model.brandedShop" name="brandedShop" readonly="true" />
											</div>

											<label class="control-label col-md-15">Thanh toán</label>
											<div class="col-md-25">
												<ui-select ng-model="model.pay" name="pay" ng-init="model.documentType=listPay[0].Id" class="" style="width: 100%;"
													ng-change="paymentTypechange($select.selected)"> <ui-select-match>{{$select.selected.paymentDetail}}</ui-select-match> <ui-select-choices
													repeat="x.paymentCode as x in listPay | filter:$select.search"> {{x.paymentDetail}} </ui-select-choices> </ui-select>
											</div>

											<label class="control-label col-md-15">Ngân hàng</label>
											<div class="col-md-25">
												<ui-select ng-model="model.bank" ng-disabled="disableBank" ng-init="model.documentType=listBank[0].Id" class="" style="width: 100%;"> <ui-select-match>{{$select.selected.bankName}}</ui-select-match>
												<ui-select-choices repeat="x.bankCode as x in listBank | filter:$select.search"> {{x.bankName}} </ui-select-choices> </ui-select>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-15">POID</label>
											<div class="col-md-25">
												<input type="text" class="form-control" ng-model="model.poid" name="poid" readonly="true" /> <input type="hidden" class="form-control"
													ng-model="model.orderId" name="orderId" readonly="true" />
											</div>

											<label class="control-label col-md-15">Loại PO</label>
											<div class="col-md-25">
												<input type="text" class="form-control" ng-model="model.poType" name="poType" readonly="true" />
											</div>

											<label class="control-label col-md-15">Ngày</label>
											<div class="col-md-25">
												<input ng-model="model.date" name="date" datetime-picker="datepick" date-only="" date-format="DD/MM/YYYY" class="form-control" ng-disabled="true" />
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-15">Loại mặt hàng</label>
											<div class="col-md-6">
												<div class="col-md-25">
													<input type="radio" ng-model="model.matHangType" value="SIM" ng-change="loadGoods('SIM')" /> SIM
												</div>
												<div class="col-md-25">
													<input type="radio" ng-model="model.matHangType" value="Airtime" ng-change="loadGoods('AIRTIME')" /> Airtime
												</div>
												<div class="col-md-25">
													<input type="radio" ng-model="model.matHangType" value="Card" ng-change="loadGoods('CARD')" /> Thẻ cào
												</div>
												<div class="col-md-25">
													<input type="radio" ng-model="model.matHangType" value="Evoucher" ng-change="loadGoods('EVOUCHER')" /> Evoucher
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-15">Mặt hàng</label>
											<div class="col-md-65">
												<ui-select ng-model="model.matHang" ng-init="model.documentType=listMatHang[0].goodCode" ng-change="selectGood($select.selected)" class=""
													style="width: 100%;"> <ui-select-match>{{$select.selected.goodName}}</ui-select-match> <ui-select-choices
													repeat="x.goodCode as x in listMatHang | filter:$select.search"> {{x.goodName}} </ui-select-choices> </ui-select>

												<input type="hidden" class="form-control" ng-model="model.goodName" name="goodName" /> <input type="hidden" class="form-control"
													ng-model="model.unitPrice" name="unitPrice" /> <input type="hidden" class="form-control" ng-model="model.discountSearch" name="discountSearch" />
											</div>

											<label class="control-label col-md-15">Mã hàng</label>
											<div class="col-md-25">
												<input type="text" class="form-control" ng-model="model.goodCode" name="goodCode" />
											</div>

										</div>

										<div class="form-group">

											<label class="control-label col-md-15">Số lượng</label>
											<div class="col-md-25">
												<input type="text" class="form-control" ng-model="model.total" name="total" />
											</div>
											<label class="control-label col-md-15">Chiết khấu</label>
											<div class="col-md-25">
												<ui-select ng-model="model.discount" ng-init="model.documentType=listdiscount[0].discountPercent" ng-click="getDiscount()" class=""
													style="width: 100%;"> <ui-select-match>{{$select.selected.discountPercent}}</ui-select-match> <ui-select-choices
													repeat="x.discountPercent as x in listdiscount | filter:$select.search"> {{x.discountPercent}} </ui-select-choices> </ui-select>
											</div>
										</div>

										<div class="form-group" style="text-align: right; border-bottom: 0px; margin-top: 10px;">
											<button type="button" class="btn btn-primary" ng-click="add()">
												<i class="fa glyphicon glyphicon-plus"></i> Thêm
											</button>
										</div>

										<h3 class="form-section">Đơn hàng chi tiết</h3>
										<div class="form-group">
											<div class="col-md-12">
												<table ng-table="tableParams" class="table table-striped table-bordered" show-filter="true">
													<tr ng-repeat="item in $data">
														<td title="'Mã hàng'" filter="{ productId: 'text'}" sortable="'productId'">{{item.productId}}</td>
														<td title="'Tên hàng'" filter="{ productName: 'text'}" sortable="'productName'">{{item.productName}}</td>

														<!-- <td title="'Số lượng'">{{item.quantity}}</td> -->

														<td title="'Số lượng'">
															<div ng-hide="editingData[item.productId]">{{item.quantity | number}}</div>
															<div ng-show="editingData[item.productId]">
																<input type="text" ng-model="item.quantity" ng-change="changeQuantityitem(item)" />
															</div>
														</td>

														<td title="'Đơn giá'">{{item.unitPrice | number}}</td>
														<td title="'Tổng giá'">{{item.grossValue | number}}</td>

														<!-- <td title="'% Chiết khấu'">{{item.discountPercent}}</td> -->

														<td title="'% Chiết khấu'">
															<div ng-hide="editingData[item.productId]">{{item.discountPercent | number}}</div> <!-- <div ng-hide="editingData[item.productId]" class="col-md-25">
																<ui-select ng-model="item.discount"
																	ng-init="model.documentType=listdiscount[0].discountPercent"
																	ng-click="getDiscount()" class="" style="width: 100%;">
																<ui-select-match>{{$select.selected.discountPercent}}</ui-select-match>
																<ui-select-choices
																	repeat="x.discountPercent as x in listdiscount | filter:$select.search">
																{{x.discountPercent}} </ui-select-choices> </ui-select>
															</div> -->
															<div ng-show="editingData[item.productId]">
																<ui-select ng-model="item.discountPercent" ng-init="model.documentType=listdiscountSub[0].discountPercent"
																	ng-click="getDiscountSub(item,$index)" class="" style="width: 100%;"> <ui-select-match>{{$select.selected.discountPercent}}</ui-select-match>
																<ui-select-choices repeat="x.discountPercent as x in listdiscountSub | filter:$select.search"> {{x.discountPercent}} </ui-select-choices> </ui-select>
															</div>
														</td>

														<td title="'Tổng chiết khấu'">{{item.discountValue | number}}</td>
														<td title="'Giá trị'">{{item.netValue | number}}</td>
														<td title="'Thực hiện'" width="100">
															<div class="btn-group">
																<button title="'Sửa'" name="btnEdit{{item.productId}}" ng-disabled="isSubmit" ng-show="!editingData[item.productId]" class="btn btn-warning"
																	ng-click="edit(item,$index)">
																	<i class="fa fa-edit"></i>
																</button>
																&nbsp;
																<button title="'Lưu'" name="btnFnEdit{{item.productId}}" class="btn btn-success" ng-disabled="isSubmit" ng-show="editingData[item.productId]"
																	ng-click="fnEdit(item,$index)">
																	<i class="glyphicon glyphicon-ok"></i>
																</button>
																&nbsp;
																<button title="'Xoá'" name="btnEdit{{item.productId}}" class="btn btn-danger" ng-disabled="isSubmit" ng-click="del(item,$index)">
																	<i class="fa fa-trash-o"></i>
																</button>
															</div>
														</td>
													</tr>
												</table>
											</div>
										</div>

										<div class="form-group">

											<label class="control-label col-md-15">Tổng giá</label>
											<div class="col-md-25">
												<!-- <input type="text" class="form-control" ng-model="model.totalGross" name="totalGross" readonly="true"/> -->
												<input type="text" class="form-control" readonly="true" value="{{model.totalGross | number}}" />
											</div>

											<label class="control-label col-md-15">Tổng chiết khấu</label>
											<div class="col-md-25">
												<!-- <input type="text" class="form-control" ng-model="model.totalDiscount" name="totalDiscount" readonly="true"/> -->
												<input type="text" class="form-control" readonly="true" value="{{model.totalDiscount | number}}" />
											</div>

											<label class="control-label col-md-15">Tổng giá sau CK</label>
											<div class="col-md-25">
												<!-- <input type="text" class="form-control" ng-model="model.totalNet" name="totalNet" readonly="true"/> -->
												<input type="text" class="form-control" readonly="true" value="{{model.totalNet | number}}" />
											</div>

										</div>

										<!-- sdfdsfdsfsd -->
										<h3 class="form-section">Danh sách giấy tờ</h3>
										<div class="form-group">
											<!-- <label class="control-label col-md-2">Tài liệu đính kèm</label> -->
											<div class="col-md-12">

												<span class="btn blue-hoki  btn-file"> <span class="fileinput-new"> Chọn tệp </span> <input type="file" nv-file-select="" uploader="uploader"
													multiple="" />
												</span>

												<div class="table-scrollable">
													<table class="table table-hover">
														<thead>
															<tr>
																<th width="">STT</th>
																<th width="">Tên</th>
																<th ng-show="uploader.isHTML5">Kích thước File</th>
																<!--       <th width="200px">Loại giấy tờ</th>
                                                   <th width="200px">Ghi chú</th> -->
																<th width="50px">Trạng thái</th>
																<th width="120px"></th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="item in uploader.queue">
																<td><strong>{{ uploader.getIndexOfItem(item) }}</strong></td>
																<td><strong>{{ item.file.name }}</strong></td>
																<td ng-show="uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
																<td>
																	<!--   <input type="text"  ng-model="item.identityDocNote" ng-disabled="item.disabledNote" class="form-control"   /> --> <input type="text"
																	style="display: none;" ng-model="item.attachMentId" class="form-control" />
																</td>
																<td class="text-center"><span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span> <span ng-show="item.isCancel"><i
																		class="glyphicon glyphicon-ban-circle"></i></span> <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span></td>
																<td nowrap="">
																	<button type="button" class="btn btn-danger btn-xs" ng-click="removeElementAttachmenByItem(item)">
																		<span class="glyphicon glyphicon-trash"></span> Xóa
																	</button>
																</td>
															</tr>
														</tbody>
													</table>
													<div>
														<div>
															<p></p>
															<div class="progress" style="">
																<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
															</div>
														</div>
														<button type="button" class="btn btn-success btn-s" ng-click="uploadAllFile(uploader)" ng-disabled="!uploader.getNotUploadedItems().length">
															<span class="glyphicon glyphicon-upload"></span> Upload all
														</button>
														<button type="button" class="btn btn-danger btn-s" ng-click="removeAllItem()" ng-disabled="!uploader.queue.length">
															<span class="glyphicon glyphicon-trash"></span> Xóa tất cả
														</button>
													</div>
												</div>
												<div class="note note-info">
													<p>Tài liệu bao gồm: phiếu chuyển tiền, ghi chú...</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="col-md-12" style="text-align: center;">
								</button> -->
								<button type="button" class="btn btn-primary" ng-disabled="isSubmit" ng-click="submit()" style="margin-right: 50px;">
									<i class="fa glyphicon glyphicon-saved"></i> Submit
								</button>
								<button type="button" class="btn btn-primary" ng-click="refresh()" style="margin-right: 50px;">
									<i class="fa fa-refresh"></i> Refresh
								</button>
							</div>
						</div>

						<div class="modal fade" id="editPO" role="dialog">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Thông báo</h4>
									</div>
									<div class="modal-body">
										<label> {{model.errorsms}} </label>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn red" data-dismiss="modal" ng-click="closeDialog(tmp)">
											<i class="glyphicon"></i> Close
										</button>
									</div>
								</div>
							</div>
						</div>

						<div class="modal fade" id="editPOError" role="dialog">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Thông báo</h4>
									</div>
									<div class="modal-body">
										<label> Xảy ra lỗi khi kết nối đến server </label>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn red" data-dismiss="modal" ng-click="closeViewDialog(tmp)">
											<i class="glyphicon"></i> Close
										</button>
									</div>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>