
<div ng-show="isShowInformationDetail">
	<div class="form-group">
		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.request.code"></label>
		<div class="col-md-25">
			<input type="text" class="form-control" ng-disabled="true"
				ng-model="model.detail_RequestId" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.creater"></label>
		<div class="col-md-25">
			<input type="text" class="form-control" ng-disabled="true"
				ng-model="model.detail_Creater" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.create.date"></label>
		<div class="col-md-25">
			<input ng-model="model.detail_CreateDate" ng-disabled="true"
				id="idCreateDate" datetime-picker="" date-only=""
				date-format="DD/MM/YYYY" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.executer"></label>
		<div class="col-md-25">
			<input type="text" class="form-control" ng-disabled="true"
				ng-model="model.detail_UserExecution" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.execute.date"></label>
		<div class="col-md-25">
			<input ng-model="model.detail_DateExecution" ng-disabled="true"
				datetime-picker="" date-only="" date-format="DD/MM/YYYY"
				class="form-control" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.customer.name"></label>
		<div class="col-md-25">
			<input type="text" class="form-control" ng-disabled="true"
				ng-model="model.detail_CusFullName" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.birth.date"></label>
		<div class="col-md-25">
			<input ng-model="model.detail_BirthDay" ng-disabled="true"
				datetime-picker="" date-only="" date-format="DD/MM/YYYY"
				class="form-control" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.address"></label>
		<div class="col-md-25">
			<input type="text" class="form-control" ng-disabled="true"
				ng-model="model.detail_Address" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.phone.number"></label>
		<div class="col-md-25">
			<input type="text" class="form-control" ng-disabled="true"
				ng-model="model.detail_PhoneNumber" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.id.card"></label>
		<div class="col-md-25">
			<input type="text" class="form-control" ng-disabled="true"
				ng-model="model.detail_IssueNumber" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.place.issue"></label>
		<div class="col-md-25">
			<input type="text" class="form-control" ng-disabled="true"
				ng-model="model.detail_IssuePlace" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.date.issue"></label>
		<div class="col-md-25">
			<input ng-model="model.detail_IssueDate" datetime-picker=""
				date-only="" ng-disabled="true" date-format="DD/MM/YYYY"
				class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.rejecter"></label>
		<div class="col-md-25">
			<input type="text" class="form-control"
				ng-model="model.detail_UserReject" ng-disabled="true" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.reject.date"></label>
		<div class="col-md-25">
			<input ng-model="model.detail_DateReject" ng-disabled="true"
				datetime-picker="" date-only="" date-format="DD/MM/YYYY"
				class="form-control" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.reject.reason"></label>
		<div class="col-md-25">

			<input type="text" class="form-control" ng-disabled="true"
				ng-model="model.detail_ReasonReject" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.reviewer"></label>
		<div class="col-md-25">
			<input type="text" class="form-control"
				ng-model="model.detail_UserReview" ng-disabled="true" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.review.date"></label>
		<div class="col-md-25">
			<input ng-model="model.detail_DateReview" ng-disabled="true"
				datetime-picker="" date-only="" date-format="DD/MM/YYYY"
				class="form-control" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.review.reason"></label>
		<div class="col-md-25">
			<input type="text" class="form-control" ng-disabled="true"
				ng-model="model.detail_ReasonReview" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.old.sim"></label>
		<div class="col-md-25">
			<input type="text" class="form-control"
				ng-model="model.detail_oldSim" ng-disabled="true" />
		</div>

		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.new.sim"></label>
		<div class="col-md-25">
			<input type="text" class="form-control"
				ng-model="model.detail_newSim" ng-disabled="true" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-15"
			translate="vnm.form_ownership.popup.label.verify.infor"></label>
		<div class="col-md-65">
			<textarea class="form-control" id="idDetailInforVerify"
				ng-disabled="true" ng-model="model.detail_InforVerify" rows="5"></textarea>
		</div>
	</div>
</div>