<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layout/layout :: layout">
<head th:include="layout/layout :: header">
<title id="pageTitle">Xem thông tin kho</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="page-content" th:fragment="content">

		<script src="/views/css/prepaidService/searchInformationShopAndStaff.js"
			type="text/javascript"></script>
		<div ng-controller="ctr-listMultiShopGoods" id="contentMain"
			class="ng-cloak">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-plus font-orange"></i> <span
							class="caption-subject font-orange bold uppercase">Xem
							thông tin kho</span>
					</div>
				</div>
				<div class="portlet-body form">
					<form name="frm_prepaid" class="form-horizontal  form-bordered"
						method="post" ng-validate="validationOptions">
						<div class="form-body">
							<div class="tabbable-custom ">
								<fieldset class="fieldsetcustom">
									<div class="col-md-3" style="height: 400px; overflow: scroll;">
										<!-- <h3 class="form-section" style="">
											<span
												translate="vnm.form_stock_information.label.legend.stock"></span>
										</h3> -->
										<!-- <div class="table-scrollable">
											<table ng-table="tableListStockTreeMenu"
												class="table table-striped table-bordered">

												<tr title="Kho" ng-repeat="item in $data">
													<td ng-click=""
														sortable="'name'">{{item.name}}</td>
												</tr>
											</table>
										</div> -->
										<div style="width: 900px">
											<div id="left" class="span3">
												<table ng-table="tableListStockTreeMenu"
													class="table table-striped table-bordered">
													<tr title="'Kho'" ng-repeat="item in $data">
														<td style="align-content: left" align="left">
															<ul id="menu-group-1" class="nav menu">
																<li class="item-1 deeper parent active"><a class=""
																	href="#"> <span data-toggle="collapse"
																		data-parent="#menu-group-1" id="{{item.nodeCode}}"
																		onclick="angular.element(this).scope().iconOnClick(this);"
																		href="#sub-item-1" class="sign"> <!-- <div ng-if="checkParentHaveChildrenMenu(item.nodeCode)">
																		<i class="icon-plus icon-white"></i>
																		</div>
																		
																		<div ng-if="!checkParentHaveChildrenMenu(item.nodeCode)">
																				<i class="glyphicon glyphicon-none "></i>
																		</div> -->

																			<div ng-if="item.isIconShow">
																				<i class="icon-plus icon-white"></i>
																			</div>

																			<div ng-if="!item.isIconShow">
																				<i class="glyphicon glyphicon-none "></i>
																			</div>

																	</span> <span class="lbl" id="{{item.nodeCode}}_SPAN_ID"
																		ng-click="clickMenuItem($event,item)">{{item.code}}
																			{{item.name}}</span>
																</a> <!-- 																	<div id="{{item.parentNodeCode}}Children"></div> -->
																	<ul class="children nav-child unstyled small collapse"
																		id="{{item.nodeCode}}Sub">
																		<!-- <li
																			ng-repeat="item in listSubMenu | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize"
																			class="item-1 deeper parent active"><a class=""
																			href="#"> <span data-toggle="collapse"
																				data-parent="#menu-group-1" id="{{item.nodeCode}}"
																				onclick="angular.element(this).scope().iconOnClick(this);"
																				href="#sub-item-1" class="sign"><i
																					class="icon-plus icon-white"></i></span> <span class="lbl"
																				ng-click="clickMenuItem($event, item)">{{item.name}}</span>
																		</a></li>

																		<button ng-disabled="currentPage == 0"
																			ng-click="currentPage=currentPage-1">Previous</button>
																		{{currentPage+1}}/{{numberOfPages()}}
																		<button
																			ng-disabled="currentPage >= getData().length/pageSize - 1"
																			ng-click="currentPage=currentPage+1">Next</button> -->

																		<!-- <table ng-table="table.Table1"
																			class="table table-striped table-bordered">
																			<tr ng-repeat="item in $data" id="TEST_ID">
																				<td>
																					<ul id="menu-group-1" class="nav menu">
																						<li class="item-1 deeper parent active"><a
																							class="" href="#"> <span
																								data-toggle="collapse"
																								data-parent="#menu-group-1"
																								id="{{item.nodeCode}}"
																								onclick="angular.element(this).scope().iconOnClick(this);"
																								href="#sub-item-1" class="sign"><i
																									class="icon-plus icon-white"></i></span> <span
																								class="lbl"
																								ng-click="clickMenuItem($event, item)">{{item.name}}</span>
																						</a></li>
																					</ul>
																				</td>
																			</tr>
																		</table> -->
																		<!-- <li class="item-2 deeper parent active"><a
																			class="" href="#"> <span data-toggle="collapse"
																				data-parent="#menu-group-1" href="#sub-item-2"
																				class="sign"><i class="icon-plus icon-white"></i></span>
																				<span class="lbl">Menu 1</span>
																		</a></li>
																		<li class="item-5 deeper parent"><a class=""
																			href="#"> <span data-toggle="collapse"
																				data-parent="#menu-group-1" href="#sub-item-5"
																				class="sign"><i class="icon-plus icon-white"></i></span>
																				<span class="lbl">Menu 2</span>
																		</a></li> -->
																	</ul></li>
															</ul>
														</td>
													</tr>

												</table>

											</div>
										</div>
									</div>

									<div class="col-md-9">
										<fieldset class="fieldsetcustom">
											<h3 class="form-section" style="">
												<span
													translate="vnm.form_stock_information.label.legend.stock.information"></span>
											</h3>

											<div class="form-group" style="padding-bottom: 10px;">
												<div class="col-md-6" align="left">
													<label><input type="radio"
														ng-model="model.stockTypeSearch" value="STOCK"
														ng-change='stockTypeChangeFn(model.stockTypeSearch)' /><span
														class="label-radio-button"
														translate="vnm.form_stock_information.label.stock.shop"></span></label>
												</div>

												<div class="col-md-6" align="left">
													<label><input type="radio"
														ng-model="model.stockTypeSearch" value="STOCK_AND_STAFF"
														ng-change='stockTypeChangeFn(model.stockTypeSearch)' /><span
														class="label-radio-button"
														translate="vnm.form_stock_information.label.stock.shop.staff"></span></label>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-2"><span
													translate="vnm.form_stock_information.label.source.stock"></span></label>
												<div class="col-md-3">
													<ui-select ng-model="model.resourceCode" class=""
														style="width: 100%;"> <ui-select-match>{{$select.selected.name}}</ui-select-match>
													<ui-select-choices
														repeat="x.code as x in ListStaffResource | filter:$select.search">
													{{x.name}} </ui-select-choices> </ui-select>
												</div>

												<label class="control-label col-md-2"><span
													translate="vnm.form_stock_information.label.good.type"></span></label>
												<div class="col-md-3">
													<ui-select ng-model="model.stockInternalType" class=""
														style="width: 100%;"> <ui-select-match>{{$select.selected.name}}</ui-select-match>
													<ui-select-choices
														repeat="x.internalStockId as x in ListInternalStockResource | filter:$select.search">
													{{x.name}} </ui-select-choices> </ui-select>
												</div>

											</div>

											<div class="form-group">
												<label class="control-label col-md-2"><span
													translate="vnm.form_stock_information.label.good.code"></span></label>
												<div class="col-md-3">
													<input type="text" class="form-control"
														ng-model="model.goodCode" name="GoodCode" />
												</div>

												<label class="control-label col-md-2"><span
													translate="vnm.form_stock_information.label.good.name"></span></label>
												<div class="col-md-3">
													<input type="text" class="form-control"
														ng-model="model.goodName" name="GoodName" />
												</div>

												<div class="col-md-10" align="right">
													<button type="button" class="btn btn-primary"
														ng-click="searchListGoodFunction()"
														ng-disabled="checkStockTreeEmpty">
														<i class=""></i> <span
															translate="vnm.form_stock_information.label.search"></span>
													</button>
												</div>
											</div>

											<div class="form-group">
												<h3 class="form-section" style="">
													<span translate="vnm.form_stock_information.label.items"></span>
												</h3>

												<div class="col-md-12">
													<div class="table-scrollable">
														<table ng-table="tableParamsGoodItem"
															class="table table-striped table-bordered">

															<tr ng-repeat="item in $data"
																ng-class="{true:'active', false:''}[item.goodId== rowGoodItemHighLight.goodId]">
																<td title="'Mã MH'" filter="{ goodCode: 'text'}"
																	ng-click="getListDataGoodsDetailFunction(item)"
																	sortable="'goodCode'">{{item.goodCode}}</td>
																<td title="'Tên MH'" filter="{ goodName: 'text'}"
																	ng-click="getListDataGoodsDetailFunction(item)"
																	sortable="'goodName'">{{item.goodName}}</td>
																<td title="'Nhóm MH'" filter="{ ggName: 'text'}"
																	ng-click="getListDataGoodsDetailFunction(item)"
																	sortable="'ggName'">{{item.ggName}}</td>
																<td title="'Đơn vị'" filter="{ unitName: 'text'}"
																	ng-click="getListDataGoodsDetailFunction(item)"
																	sortable="'unitName'">{{item.unitName}}</td>
																<td title="'Serial'" filter="{ checkSerialStr: 'text'}"
																	ng-click="getListDataGoodsDetailFunction(item)"
																	sortable="'checkSerialStr'">{{item.checkSerialStr}}</td>
																<td title="'Bảo hành'"
																	filter="{ checkWarrantyStr: 'text'}"
																	ng-click="getListDataGoodsDetailFunction(item)"
																	sortable="'checkWarrantyStr'">{{item.checkWarrantyStr}}</td>
																<td title="'Ghi chú'" filter="{ notes: 'text'}"
																	ng-click="getListDataGoodsDetailFunction(item)"
																	sortable="'notes'">{{item.notes}}</td>
															</tr>
														</table>
													</div>
												</div>
											</div>

											<div class="form-group">
												<h3 class="form-section" style="">
													<span translate="vnm.form_stock_information.label.number"></span>
												</h3>

												<div class="col-md-12">
													<div class="table-scrollable">
														<table ng-table="tableParamsGoodItemDetail"
															class="table table-striped table-bordered">
															<colgroup>
																<col width="45%" />
																<col width="50%" />
																<col width="5%" />
															</colgroup>
															<tr ng-repeat="item in $data"
																ng-class="{true:'active', false:''}[item.id == rowGoodItemDetailHighLight.id]">
																<td title="'Trạng thái'" filter="{ stateStr: 'text'}"
																	ng-click="getRowItemHighLightDetailFunction(item)"
																	sortable="'stateStr'">{{item.stateStr}}</td>
																<td title="'Số lượng yêu cầu'"
																	ng-click="getRowItemHighLightDetailFunction(item)"
																	filter="{ quantityIssue: 'text'}"
																	sortable="'quantityEffect'">{{item.quantityIssue}}</td>
																<td title="'Số lượng thực tế'"
																	ng-click="getRowItemHighLightDetailFunction(item)"
																	filter="{ quantityEffect: 'text'}"
																	sortable="'quantityEffect'">{{item.quantityEffect}}</td>
																<td title="'Số lượng đáp ứng'"
																	ng-click="getRowItemHighLightDetailFunction(item)"
																	filter="{ quantityRemain: 'text'}"
																	sortable="'quantityRemain'">{{item.quantityRemain}}</td>

															</tr>
														</table>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-10" align="right">
													<button type="button" class="btn btn-primary"
														ng-click="exportfileFunction()"
														ng-disabled="checkStockTreeEmpty">
														<i class=""></i> <span
															translate="vnm.form_stock_information.label.report.inventory"></span>
													</button>
												</div>

												<!-- <div class="col-md-2" align="right">
													<button type="button" class="btn btn-primary"
														ng-click="getShopCodeDBWith1ShopFunction()">
														<i class=""></i> <span
															translate="vnm.form_stock_information.label.detail.serial"></span>
													</button>
												</div> -->
											</div>

											<div ng-show="checkShowFormDetail()">
												<h3 class="form-section" style="">
													<span translate="vnm.form_stock_information.label.detail"></span>
												</h3>


												<div class="form-group" style="padding-bottom: 10px;">
													<div class="col-md-6" align="left">
														<label><input type="radio"
															ng-model="model.serialSimTypeSearch" value="ONE_SERIAL"
															ng-change='serialSimTypeSearchFn(model.stockTypeSearch)' /><span
															class="label-radio-button"
															translate="vnm.form_stock_information.label.search.serial"></span></label>
													</div>

													<div class="col-md-6" align="left">
														<label><input type="radio"
															ng-model="model.serialSimTypeSearch" value="RANGE_SERIAL"
															ng-change='serialSimTypeSearchFn(model.stockTypeSearch)' /><span
															class="label-radio-button"
															translate="vnm.form_stock_information.label.range.serial"></span></label>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-md-2"><span
														translate="vnm.form_stock_information.label.serial.start"></span></label>
													<div class="col-md-3">
														<input type="text" class="form-control"
															ng-model="model.serialStart" name="SerialStart" />
													</div>

													<label class="control-label col-md-2"><span
														translate="vnm.form_stock_information.label.serial.end"></span></label>
													<div class="col-md-3">
														<input type="text" class="form-control"
															ng-model="model.serialEnd" name="SerialEnd" />
													</div>

												</div>

												<div class="form-group">
													<label class="control-label col-md-2"><span
														translate="vnm.form_stock_information.label.number"></span></label>
													<div class="col-md-3">
														<input type="text" class="form-control"
															ng-model="model.numberOfSerial" name="NumberOfSerial" />
													</div>

													<div class="col-md-5" align="right">
														<button type="button" class="btn btn-primary"
															ng-click="searchSerialSimDetail()">
															<i class=""></i> <span
																translate="vnm.form_stock_information.label.btn.search.serial"></span>
														</button>
													</div>
												</div>

												<div class="col-md-12"
													ng-show='dataTableSearchOneSim.length>0'>
													<h3 class="form-section" style="">
														<span translate="vnm.form_stock_information.label.number"></span>
													</h3>

													<div class="col-md-12">
														<div class="table-scrollable">
															<table ng-table="tableParamsSearchOneSim"
																class="table table-striped table-bordered">
																<colgroup>
																	<col width="45%" />
																	<col width="50%" />
																	<col width="5%" />
																</colgroup>
																<tr ng-repeat="item in $data">
																	<td title="'Serial'" sortable="'fromSerial'"
																		align="center">{{item.fromSerial}}</td>
																	<td title="'Số phiếu bảo hành'" sortable="'warrantyNo'"
																		align="center">{{item.warrantyNo}}</td>
																</tr>
															</table>
														</div>
													</div>
												</div>

												<div class="form-group"
													ng-show='dataTableSearchRangeSim.length>0'>
													<h3 class="form-section" style="">
														<span translate="vnm.form_stock_information.label.number"></span>
													</h3>

													<div class="col-md-12">
														<div class="table-scrollable">
															<table ng-table="tableParamsSearchRangeSim"
																class="table table-striped table-bordered">
																<colgroup>
																	<col width="45%" />
																	<col width="50%" />
																	<col width="5%" />
																</colgroup>
																<tr ng-repeat="item in $data">
																	<td title="'Từ serial'" sortable="'fromSerial'"
																		align="center">{{item.fromSerial}}</td>

																	<td title="'Đến serial'" sortable="'toSerial'"
																		align="center">{{item.toSerial}}</td>

																	<td title="'Số lượng'" sortable="'quantity'"
																		align="center">{{item.quantity}}</td>
																</tr>
															</table>
														</div>
													</div>
												</div>
											</div>
										</fieldset>
									</div>
								</fieldset>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</body>
</html>