<div ng-show="isShowUpdateCusInfo">
	<div class="tabbable-custom ">
		<ul class="nav nav-tabs ">
			<li class="active"><a href="#tab_5_1" data-toggle="tab" aria-expanded="false">Thông tin KH, TB</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab_5_1">
				<h3 class="form-section">Nhập thông tin khách hàng</h3>
				<div class="form-group">
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.customer.type"></label><span class="red"
						ng-show="!customerTypeDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<ui-select ng-model="model.customerType" ng-init="model.customerType=listCustomerTypeNew[-1].customerId" class=""
							on-select="updateCustomerType($select.selected.customerId)" ng-disabled="customerTypeDisabledForm || disAddChild" style="width: 100%;"> <ui-select-match>{{$select.selected.customer}}</ui-select-match>
						<ui-select-choices repeat="x.customerId as x in listCustomerTypeNew | filter:$select.search"> {{x.customer}} </ui-select-choices> </ui-select>
					</div>

					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.sur.name"></label> <span class="red" ng-show="!lastNameDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<input type="text" class="form-control" ng-model="model.lastName" name="lastName" ng-disabled="lastNameDisabledForm" ng-blur="checkblurLastName()" />
					</div>
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.last.name"></label> <span class="red" ng-show="!firtNameDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<input type="text" class="form-control" maxlength="50" ng-model="model.firstName" name="firstName" ng-disabled="firtNameDisabledForm"
							ng-blur="checkblurFirstName()" />
					</div>
				</div>

				<div class="form-group">
					<!--add  -->
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.cus.type.card"></label> <span class="red" ng-show="!planceDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<ui-select ng-model="model.cusTypeCard" ng-init="model.cusTypeCard=listCusTypeCard[-1].cusTypeCardId" class="" ng-disabled="customerTypeCardDisabledForm"
							style="width: 100%;"> <ui-select-match>{{$select.selected.cusTypeCardName}}</ui-select-match> <ui-select-choices
							repeat="x.cusTypeCardId as x in listCusTypeCard | filter:$select.search"> {{x.cusTypeCardName}} </ui-select-choices> </ui-select>
					</div>

					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.issue.number"></label> <span class="red" ng-show="!cardIdDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<input type="text" class="form-control" ng-model="model.cardId" name="cardId" ng-disabled="cardIdDisabledForm" />
					</div>
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.issue.place"></label> <span class="red"
						ng-show="!planceDisabledFormNew">(*)</span>
					</label>
					<div class="col-md-25">
						<input type="text" class="form-control" ng-model="model.planceOfIssue" name="planceOfIssue" ng-disabled="planceDisabledFormNew" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.issue.date"></label> <span class="red" ng-show="!planceDisabledFormNew">(*)</span>
					</label>
					<div class="col-md-25">
						<input ng-model="model.dateOfIssue" id="dateOfIssue" name="dateOfIssue" datetime-picker="" date-only="" date-format="DD/MM/YYYY" class="form-control"
							ng-disabled="planceDisabledFormNew" />
					</div>
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.birth.date"></label> <span class="red" ng-show="!brithdayDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<input ng-model="model.birthday" id="birthday" name="birthday" datetime-picker="" date-only="" date-format="DD/MM/YYYY" class="form-control"
							ng-disabled="brithdayDisabledForm" />
					</div>
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.gender"></label> <span class="red" ng-show="!sexDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<ui-select ng-model="model.sex" ng-init="model.sex=listSex[-1].Id" class="" style="width: 100%;" ng-disabled="sexDisabledForm" ng-change="checkblurSex()">
						<ui-select-match>{{$select.selected.Title}}</ui-select-match> <ui-select-choices repeat="x.Id as x in listSex | filter:$select.search">
						{{x.Title}} </ui-select-choices> </ui-select>
					</div>

				</div>
				<div class="form-group">
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.country"></label> <span class="red" ng-show="!countryDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<ui-select ng-model="model.country" ng-init="model.country=listCountry[0].countryId" class="" style="width: 100%;"
							ng-disabled="countryDisabledForm || disAddChild" ng-change="checkblurCounty()"> <ui-select-match>{{$select.selected.country}}</ui-select-match>
						<ui-select-choices repeat="x.countryId as x in listCountry | filter:$select.search"> {{x.country}} </ui-select-choices> </ui-select>
					</div>
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.company.name"></label> <span class="red"
						ng-show="!companyNameDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<input type="text" class="form-control" ng-model="model.companyName" name="companyName" ng-disabled="companyNameDisabledForm || disAddChild" />
					</div>
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.province"></label> <span class="red" ng-show="!provinceDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<ui-select ng-model="model.province" ng-init="model.province=listProvince[0].proId" class="" on-select="updateDistrict($select.selected.proId)"
							ng-disabled="provinceDisabledForm" style="width: 100%;" ng-change="checkblurProvince()"> <ui-select-match>{{$select.selected.province}}</ui-select-match>
						<ui-select-choices repeat="x.proId as x in listProvince | filter:$select.search"> {{x.province}} </ui-select-choices> </ui-select>
					</div>
				</div>
				<!-- caott2 -->
				<div class="form-group">
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.cus.type.card.company.code"></label> <span class="red"
						ng-show="!taxCodeDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<ui-select ng-model="model.typeCardCompany" ng-init="model.typeCardCompany=listTypeCardCompany[-1].typeCardCompanyId" class=""
							ng-disabled="companyNameDisabledForm" style="width: 100%;"> <ui-select-match>{{$select.selected.typeCardCompanyName}}</ui-select-match> <ui-select-choices
							repeat="x.typeCardCompanyId as x in listTypeCardCompany | filter:$select.search"> {{x.typeCardCompanyName}} </ui-select-choices> </ui-select>
					</div>
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.tax.code"></label> <span class="red" ng-show="!taxCodeDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<input type="text" class="form-control" ng-model="model.tax" name="tax" ng-disabled="taxCodeDisabledForm || disAddChild" />
					</div>
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.district"></label> <span class="red" ng-show="!dictrictDisabledForm">(*)</span>
					</label>
					<div class="col-md-25">
						<ui-select ng-model="model.district" ng-init="model.district=listDistrict[0].disId" class="" ng-disabled="dictrictDisabledForm" style="width: 100%;"
							ng-change="checkblurDistrict()"> <ui-select-match>{{$select.selected.district}}</ui-select-match> <ui-select-choices
							repeat="x.disId as x in listDistrict | filter:$select.search"> {{x.district}} </ui-select-choices> </ui-select>
					</div>

				</div>
				<!--end  -->
				<div class="form-group">
					<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.address"></label> <span class="red" ng-show="!addressDisabledForm">(*)</span>
					</label>
					<div class="col-md-65">
						<textarea type="text" class="form-control" ng-model="model.address" name="address" ng-disabled="addressDisabledForm" style="width: 163%; height: 50px;"
							ng-change="checkblurAddress()" />
					</div>
				</div>
				<div id ="addresscompany1">
				<div class="form-group">
					<label class="control-label col-md-15"> <label >Địa chỉ công ty</label> <span class="red" ng-show="!addressDisabledForm">(*)</span>
					</label>
					<div class="col-md-65">
						<textarea type="text" class="form-control" ng-model="model.addresscompany" name="addresscompany" ng-disabled="addressDisabledForm" style="width: 163%; height: 50px;" />
					</div>
				</div>
				</div>
				<div class="form-group" ng-show="commentDisabledForm">
					<label class="control-label col-md-15" translate="vnm.prepaid.label.comment"></label>
					<div class="col-md-25">
						<input type="text" class="form-control" ng-model="model.comment" name="comment" ng-disabled="commentDisabledForm" />
					</div>
				</div>
				<div class="form-group" ng-show="showSubParent">
					<h3 class="form-section" translate="vnm.prepaid.label.title.customer.sub.info"></h3>
					<div class="form-group">
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.sur.name"></label> <span class="red" ng-show="!lastNameDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<input type="text" class="form-control" ng-model="model.subLastName" name="subLastName" ng-disabled="lastNameDisabledForm" />
						</div>
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.last.name"></label> <span class="red" ng-show="!firtNameDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<input type="text" class="form-control" ng-model="model.subFirstName" name="subFirstName" ng-disabled="firtNameDisabledForm" />
						</div>
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.gender"></label> <span class="red" ng-show="!sexDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<ui-select ng-model="model.subSex" ng-init="model.sex=listSex[-1].Id" class="" style="width: 100%;" ng-disabled="sexDisabledForm"> <ui-select-match>{{$select.selected.Title}}</ui-select-match>
							<ui-select-choices repeat="x.Id as x in listSex | filter:$select.search"> {{x.Title}} </ui-select-choices> </ui-select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.cus.type.card"></label> <span class="red"
							ng-show="!subCustomerTypeCardDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<ui-select ng-model="model.subCusTypeCard" ng-init="" class="" ng-disabled="subCustomerTypeCardDisabledForm" style="width: 100%;"> <ui-select-match>{{$select.selected.cusTypeCardName}}</ui-select-match>
							<ui-select-choices repeat="x.cusTypeCardId as x in listCusTypeCard | filter:$select.search"> {{x.cusTypeCardName}} </ui-select-choices> </ui-select>
						</div>
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.issue.number"></label> <span class="red"
							ng-show="!subcardIdDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<input type="text" class="form-control" ng-model="model.subIdCard" name="subIdCard" ng-disabled="subcardIdDisabledForm" />
						</div>
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.issue.place"></label> <span class="red"
							ng-show="planceDisabledFormNew">(*)</span>
						</label>
						<div class="col-md-25">
							<input type="text" class="form-control" ng-model="model.subPlanceOfIssue" name="subPlanceOfIssue" ng-disabled="planceDisabledFormNew" />
						</div>

					</div>

					<div class="form-group">
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.issue.date"></label> <span class="red"
							ng-show="!dateOfIssDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<input ng-model="model.subDateOfIssue" id="subDateOfIssue" name="subDateOfIssue" datetime-picker="" date-only="" date-format="DD/MM/YYYY"
								class="form-control" ng-disabled="dateOfIssDisabledForm" />
						</div>
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.birth.date"></label> <span class="red" ng-show="!brithdayDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<input ng-model="model.subBirthday" id="subBirthday" name="subBirthday" datetime-picker="" date-only="" date-format="DD/MM/YYYY" class="form-control"
								ng-disabled="brithdayDisabledForm" />
						</div>
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.province"></label> <span class="red" ng-show="!provinceDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<ui-select ng-model="model.subProvince" ng-init="model.subProvince=listProvince[0].proId" class="" on-select="subupdateDistrict($select.selected.proId)"
								ng-disabled="provinceDisabledForm" style="width: 100%;" > <ui-select-match>{{$select.selected.province}}</ui-select-match>
							<ui-select-choices repeat="x.proId as x in listProvince | filter:$select.search"> {{x.province}} </ui-select-choices> </ui-select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.country"></label> <span class="red" ng-show="!countryDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<ui-select ng-model="model.subCountry" ng-init="model.subCountry=listCountry[0].countryId" class="" style="width: 100%;"
								ng-disabled="countryDisabledForm || disAddChild"> <ui-select-match>{{$select.selected.country}}</ui-select-match> <ui-select-choices
								repeat="x.countryId as x in listCountry | filter:$select.search"> {{x.country}} </ui-select-choices> </ui-select>
						</div>
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.company.name"></label> <span class="red"
							ng-show="!companyNameDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<input type="text" class="form-control" ng-model="model.companyName" name="companyName" ng-disabled="true" />
						</div>
						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.district"></label> <span class="red" ng-show="!dictrictDisabledForm">(*)</span>
						</label>
						<div class="col-md-25">
							<ui-select ng-model="model.subDistrict" ng-init="model.subDistrict=sublistDistrict[0].disId" class="" ng-disabled="dictrictDisabledForm" style="width: 100%;"
								> <ui-select-match>{{$select.selected.district}}</ui-select-match> <ui-select-choices
								repeat="x.disId as x in sublistDistrict | filter:$select.search"> {{x.district}} </ui-select-choices> </ui-select>
						</div>
					</div>

					<div class="form-group">

						<label class="control-label col-md-15"> <label translate="vnm.prepaid.label.address"></label> <span class="red" ng-show="!addressDisabledForm">(*)</span>
						</label>
						<div class="col-md-65">
							<textarea type="text" class="form-control" ng-model="model.subAddress" name="subAddress" ng-disabled="addressDisabledForm"
								style="width: 163%; height: 50px;" />
						</div>
					</div>

					<div class="form-group" ng-show="commentDisabledForm">
						<label class="control-label col-md-15" translate="vnm.prepaid.label.comment"></label>
						<div class="col-md-25">
							<input type="text" class="form-control" ng-model="model.subComment" name="comment" ng-disabled="commentDisabledForm" />
						</div>
					</div>
				</div>

				<div class="form-group"></div>
				<div class="form-group">
					<div class="col-md-12">
						<div class="note note-info">
							<p>
								Hãy nhập những trường bắt buộc có dấu <span class="red">(*)</span>
							</p>
						</div>
					</div>
				</div>
				<div class="form-group lstpic6">
					<div class="col-md-2" ng-show="imgBody!=''">
						<div class="portlet light">
							<div class="photo">
								<img id="myImg" ng-click="imgZoom($event)" class="img-responsive" ng-src="data:image/png;base64, {{imgBody}}" alt="Ảnh CMT mặt 1" />
							</div>
							<div class="title">
								<span>CMT mặt 1</span>
							</div>
						</div>
					</div>
					<div class="col-md-2" ng-show="imgID_2_Body!=''">
						<div class="portlet light">
							<div class="photo">
								<img width="100" height="70" id="myImg" ng-click="imgZoom($event)" ng-src="data:image/png;base64, {{imgID_2_Body}}" alt="Ảnh CMT mặt 2" />
							</div>
							<div class="title">
								<span>CMT mặt 2</span>
							</div>
						</div>
					</div>
					<div class="col-md-2" ng-show="contract_img1_Body!=''">
						<div class="portlet light">
							<div class="photo">
								<img width="100" height="70" id="myImg" ng-click="imgZoom($event)" ng-src="data:image/png;base64, {{contract_img1_Body}}" alt="Ảnh HĐ mặt 1" />
							</div>
							<div class="title">
								<span>HĐ mặt 1</span>
							</div>
						</div>
					</div>
					<div class="col-md-2" ng-show="contract_img2_Body!=''">
						<div class="portlet light">
							<div class="photo">
								<img width="100" height="70" ng-click="imgZoom($event)" ng-src="data:image/png;base64, {{contract_img2_Body}}" alt="Ảnh HĐ mặt 2" />
							</div>
							<div class="title">
								<span>HĐ mặt 2</span>
							</div>
						</div>
					</div>
					<div class="col-md-2" ng-show="authorized_img_Body!=''">
						<div class="portlet light">
							<div class="photo">
								<img width="100" height="70" id="myImg" ng-click="imgZoom($event)" ng-src="data:image/png;base64, {{authorized_img_Body}}" alt="Giấy ủy quyền" />
							</div>
							<div class="title">
								<span>Giấy ủy quyền</span>
							</div>
						</div>
					</div>
					<div class="col-md-2" ng-show="bus_permit_no_img1_Body!=''">
						<div class="portlet light">
							<div class="photo">
								<img width="100" height="70" id="myImg" ng-click="imgZoom($event)" ng-src="data:image/png;base64, {{bus_permit_no_img1_Body}}" alt="Giấy ủy quyền" />
							</div>
							<div class="title">
								<span>Giấy phép KD</span>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group lstpic6">

					<div class="col-md-2" ng-show=" contract_img1_Body_SUB !=''">
						<div class="portlet light">
							<div class="photo">
								<img width="100" height="70" id="myImg" ng-click="imgZoom($event)" ng-src="data:image/png;base64, {{contract_img1_Body_SUB}}" alt="Ảnh HĐ mặt 1" />
							</div>
							<div class="title">
								<span> HĐ mặt 1 </span>
							</div>
						</div>
					</div>
					<div class="col-md-2" ng-show=" contract_img2_Body_SUB !=''">
						<div class="portlet light">
							<div class="photo">
								<img width="100" height="70" ng-click="imgZoom($event)" ng-src="data:image/png;base64, {{contract_img2_Body_SUB}}" alt="Ảnh HĐ mặt 2" />
							</div>
							<div class="title">
								<span> HĐ mặt 2 </span>
							</div>
						</div>
					</div>
					<div class="col-md-2" ng-show="fileBody !=''">
						<div class="portlet light">
							<div class="photo">
								<img width="100" height="70" id="myImg" ng-click="imgZoom($event)" ng-src="data:image/png;base64, {{fileBody}}" alt="Ảnh HS mặt 1" />
							</div>
							<div class="title">
								<span> HS mặt 1</span>
							</div>
						</div>
					</div>
					<div class="col-md-2" ng-show=" file_id_2_Body !=''">
						<div class="portlet light">
							<div class="photo">
								<img width="100" height="70" id="myImg" ng-click="imgZoom($event)" ng-src="data:image/png;base64, {{file_id_2_Body}}" alt="Ảnh HS mặt 2" />
							</div>
							<div class="title">
								<span> HS mặt 2 </span>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group lstpic6" ng-show="cust_img != ''">
					<div class="col-md-2">
						<div class="portlet light">
							<div class="photo">
								<img width="100" height="70" ng-click="imgZoom($event)" ng-src="data:image/png;base64, {{cust_img}}" alt="Ảnh chân dung" />
							</div>
							<div class="title">
								<span>Ảnh chân dung</span>
							</div>
						</div>
					</div>
				</div>

				<h3 class="form-section">Danh sách ảnh thuê bao</h3>
				<div class="form-group">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-12">
								<div class="table-scrollable">
									<table ng-table="tableParamImage" class="table table-striped table-bordered" show-filter="true">
										<tr ng-repeat="item in $data">
											<td title="'STT'" style="min-width: 50px" sortable="''" align="center">{{$index+1}}</td>
											<td title="'Tên'" style="max-width: 100px; max-height: 100px; min-height: 100px; min-width: 100px;" sortable="'fileName'"><strong>{{item.fileName}}</strong>
											</td>
											<td title="'Loại giấy tờ'" style="min-width: 300px" align="left" sortable="'Title'">
												<div class="col-md-6">
													<input style="text-align: center; max-width: 250px;" type="text" class="form-control" ng-disabled="true" value="{{item.Title}}" name="lastName" />
												</div>
												<div class="col-md-3" align="center">
													<span class="btn blue-hoki  btn-file thumBailText"> <span class="fileinput-new"> Tải Ảnh </span> <input type="file" id="{{item.Id}}"
														nv-file-select="" name="fileNameImage{{item.Id}}" uploader="uploader" onchange="angular.element(this).scope().uploadedFilePreview(this)"
														accept="image/png, image/jpeg, image/jpg, 
																					application/msword, application/vnd.ms-excel, 
																					application/pdf " />
													</span>
												</div>
												<div class="col-md-3">
													<button type="button" id="{{item.Id}}" class="btn btn-primary thumBailText" ng-click="deleteImage(this)">Xóa ảnh</button>
												</div>

											</td>
											<td title="'Kích thước File'" nowrap=""><span ng-show="item.fileSize>0">{{item.fileSize/1024/1024|number:2 }} MB</span></td>
											<td title="'Trạng thái'"><span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span> <span ng-show="item.isCancel"><i
													class="glyphicon glyphicon-ban-circle"></i></span> <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span></td>
										</tr>
									</table>
								</div>
								<div>
									<div>
										<p></p>
										<div class="progress" style="">
											<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
										</div>
									</div>
									<button type="button" class="btn btn-success btn-s" ng-click="uploadAllFile(uploader)" ng-disabled="!uploader.getNotUploadedItems().length">
										<span class="glyphicon glyphicon-upload"></span> Upload all
									</button>
									<button type="button" class="btn btn-danger btn-s" ng-click="removeAllItem()" ng-disabled="!uploader.queue.length">
										<span class="glyphicon glyphicon-trash"></span> Xóa tất cả
									</button>
								</div>
								<div class="note note-info">
									<p>Tài liệu bao gồm: ảnh hồ sơ, ảnh chứng minh thư, ảnh hợp đồng ...</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="form-actions" style="margin-top: 20px">
		<div class="col-md-3"></div>
		<div class="col-md-3" style="text-align: right;">
			<button type="button" class="btn btn-primary" ng-click="updateInformationCustomer()">
				<i class="fa fa-save"></i> Chấp nhận
			</button>
		</div>

		<div class="col-md-3"></div>
	</div>
</div>