<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: layout">
<head th:include="layout/layout :: header">
<title id="pageTitle">XÁC NHẬN HOÀN TRẢ SỐ VỀ DNO</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="page-content" th:fragment="content">
		<script src="/views/css/mnp_registration/mnp_confirm_reversal.js" type="text/javascript"></script>
		<div ng-controller="ctrl-portout" class="ng-cloak">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-plus font-orange"></i> <span class="caption-subject font-orange bold uppercase"> <span
							translate="vnm.form_mnp.mnp_confirm_reversal.page.title"></span></span>
					</div>
					<div class="actions">
						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""> </a>
					</div>
				</div>

				<div class="portlet-body form">
					<form name="frm_registration_prepaid" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
						<div class="form-body">
							<div class="tabbable-custom ">
								<fieldset class="fieldsetcustom" style="padding-bottom: 20px;">
									<div class="form-group">
										<h5 class="form-section">
											<label translate="vnm.form_mnp.mnp_confirm_reversal.label.information.search"></label>
										</h5>
									</div>
									<div class="form-group">
										<label class="control-label col-md-2" translate="vnm.form_mnp.mnp_confirm_reversal.label.search.msisdn"> </label>

										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="model.msisdn" name="msisdn" />
										</div>

										<label class="control-label col-md-2" translate="vnm.form_mnp.mnp_confirm_reversal.label.search.transactionid"></label>
										<div class="col-md-3">
											<input type="text" class="form-control" ng-model="model.transactionID" name="transactionID" />
										</div>

									</div>

									<div class="form-group">
										<label class="control-label col-md-2" translate="vnm.form_mnp.mnp_confirm_reversal.label.search.date.start"></label>
										<div class="col-md-3">
											<input ng-model="model.startDate" id="startDateID" name="StartDate" datetime-picker="" date-only="" date-format="DD/MM/YYYY" class="form-control"
												placeholder=" / /" />
										</div>
										<label class="control-label col-md-2" translate="vnm.form_mnp.mnp_confirm_reversal.label.search.date.end"></label>
										<div class="col-md-3">
											<input ng-model="model.endDate" id="endDateID" name="EndDate" datetime-picker="" date-only="" date-format="DD/MM/YYYY" class="form-control"
												placeholder=" / /" />
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-2" translate="vnm.form_mnp.mnp_confirm_reversal.label.search.dno.network"> </label>
										<div class="col-md-3">
											<ui-select ng-model="model.receiveNetwork" class="" style="width: 100%;"> <ui-select-match placeholder="Chọn nhà mạng...">{{$select.selected.networkName}}</ui-select-match>
											<ui-select-choices repeat="x.networkId as x in DonorSource | filter:$select.search"> {{x.networkName}} </ui-select-choices> </ui-select>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-12" style="text-align: center;">
											<button type="button" class="btn btn-primary" style="height: 30px;" ng-click="searchListNPRPortOut()">
												<i class="fa fa-search"></i> <label translate="vnm.form_mnp.mnp_confirm_reversal.npr.btn.search"></label>
											</button>
										</div>
									</div>
								</fieldset>

								<div ng-show="dataTableNPRPortOut.length>0">
									<fieldset class="fieldsetcustom" style="padding-bottom: 30px;">
										<h5 class="form-section">

											<label translate="vnm.form_mnp.mnp_confirm_reversal.label.result.list.portout"></label>
										</h5>
										<div class="col-md-12">
											<div class="table-scrollable">
												<table ng-table="tableParamsNPRPortOut" class="table">
													<tr ng-repeat="item in $data" ng-class="{true:'active', false:''}[item.nprId == rowHighlightNPRPortOut.nprId]">
														<td title="'STT'" align="center" sortable="''"><strong>{{$index+1}}</strong></td>

														<td title="'Mã YC hoàn trả'" ng-click="viewInformationPortOutDetail(item)" style="min-width: 180px" align="center" sortable="'cchTransId'">{{item.cchTransId}}</td>

														<td title="'Nhà Mạng Chuyển Đi'" sortable="'donorStr'" ng-click="viewInformationPortOutDetail(item)" style="min-width: 100px" align="center">{{item.donorStr}}</td>

														<td title="'Nhà Mạng Chuyển Đến'" sortable="'receipientStr'" ng-click="viewInformationPortOutDetail(item)" style="min-width: 100px" align="center">{{item.receipientStr}}</td>

														<td title="'Ngày nhận YC hoàn trả'" ng-click="viewInformationPortOutDetail(item)" sortable="'createdDateStr'">{{item.createdDateStr}}</td>

														<td title="'Lý do reversal'" ng-click="viewInformationPortOutDetail(item)" style="min-width: 180px" align="center" sortable="'reversalReason'">{{item.reversalReason}}</td>

														<td title="'Trạng thái GD hoàn trả'" ng-click="viewInformationPortOutDetail(item)" style="min-width: 130px" align="center" sortable="'stepStatus'">{{item.stepStatus}}</td>

														<td title="'Mã YCCM'" ng-click="viewInformationPortOutDetail(item)" style="min-width: 130px" align="center" sortable="'originalCchTransId'">{{item.originalCchTransId}}</td>

														<td title="'File đính kèm'" sortable="'attachmentData'">
															<div style="width: 250px">
																<div class="thumbnailFile" ng-repeat="attachFile in item.attachmentData">
																	<img src="/images/mnp_image_preview_icon.png" title="{{attachFile.fileName}}" width="20px" height="25px"
																		ng-click="downloadFileAttachMent(attachFile)" />
																</div>
															</div>
														</td>

														<td title="'Ghi chú'" ng-click="viewInformationPortOutDetail(item)" style="min-width: 130px" align="center" sortable="'comments'">{{item.comments}}</td>
													</tr>
												</table>
											</div>
										</div>
									</fieldset>
								</div>

								<ul class="nav nav-tabs ">
									<li class="active"><a href="#thong-tin-khach-hang-va-thue-bao" data-toggle="tab" aria-expanded="false"><span
											translate="vnm.form_mnp.mnp_confirm_reversal.tab.cus.title"></span></a></li>
								</ul>

								<div class="tab-content active">
									<!-- Begin Khach Hang Thue Bao -->
									<div class="tab-pane active" id="thong-tin-khach-hang-va-thue-bao">
										<div class="form-group">
											<label class="control-label col-md-2"><label translate="vnm.form_mnp.mnp_confirm_reversal.cus.label.subscriber.number"></label> <span
												class="red" ng-show="customerTypeCus">(*)</span> </label>

											<div class="col-md-3" id="SubscriberNumber">
												<input type="text" class="form-control" ng-disabled="subscriberNumberDis" ng-model="model.subscriberNumber" name="SubscriberNumber" />
											</div>

											<label class="control-label col-md-2"><label translate="vnm.form_mnp.mnp_confirm_reversal.cus.account.type"></label> <span class="red"
												ng-show="surNameCus">(*)</span> </label>

											<div class="col-md-3" id="SurNameCustomerDiv">
												<input type="text" class="form-control" ng-disabled="accountTypeDis" ng-model="model.accountType" name="AccountType" />
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-2" translate="vnm.form_mnp.mnp_confirm_reversal.cus.label.approve"></label>

											<div class="col-md-3" ng-disabled="approvedNprDis">
												<select class="form-control" ng-disabled="approvedNprDis" ng-model="model.approveNPR" ng-change="onApproveNPRChange()"
													ng-options="value.Id as value.Title for value in ApproveNPRSource">
												</select>
											</div>

											<label class="control-label col-md-2" translate="vnm.form_mnp.mnp_confirm_reversal.cus.label.cancel.reason"> </label>

											<div class="col-md-3">
												<ui-select ng-model="model.rejectReason" class="" ng-disabled="rejectReasonDis" style="width: 100%;"> <ui-select-match>{{$select.selected.TitleSelected}}</ui-select-match>
												<ui-select-choices style="width: 400px;" repeat="x.Id as x in RejectSource | filter:$select.search">
												<div ng-repeat="tilteSub in x.Title">{{tilteSub}}</div>
												</ui-select-choices> </ui-select>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-2" translate="vnm.form_mnp.mnp_confirm_reversal.accept.comment"></label>

											<div class="col-md-3" ng-disabled="approvedNprDis">
												<input type="text" class="form-control" ng-model="model.commentsAccept" name="CommentsAccept" />
											</div>

										</div>

										<div class="form-group" style="padding-top: 30px;">
											<div class="col-md-3"></div>
											<div class="col-md-3" style="text-align: center;">
												<button type="button" class="btn btn-primary" ng-disabled="!isOpenBtnEdit" style="height: 30px;" ng-click="editInformationPortOut()">
													<i class="fa fa-save"></i> <label translate="vnm.form_mnp.mnp_confirm_reversal.npr.btn.edit"></label>
												</button>
											</div>

											<div class="col-md-3" style="text-align: left;">
												<button type="button" class="btn btn-primary" ng-disabled="!isOpenBtnUpdate" style="height: 30px;" ng-click="updateItemSubscriberPortOut()">
													<i class="fa fa-save"></i> <label translate="vnm.form_mnp.mnp_confirm_reversal.npr.btn.update"></label>
												</button>
											</div>

											<!-- 1190 comment <div class="col-md-3" style="text-align: center;">
												<button type="button" class="btn btn-primary"
													ng-disabled="!isOpenBtnAcceptAll" style="height: 30px;"
													ng-click="updateAcceptAllPortOut()">
													<i class="fa fa-save"></i> <label
														translate="vnm.form_mnp.mnp_confirm_reversal.npr.btn.updateall"></label>
												</button>
											</div>

											<div class="col-md-4" style="text-align: center;">
												<button type="button" class="btn btn-primary"
													ng-disabled="!isOpenBtnNoneViolationAll"
													style="height: 30px;"
													ng-click="updateNoneViolationAllPortOut()">
													<i class="fa fa-save"></i> <label
														translate="vnm.form_mnp.mnp_confirm_reversal.npr.btn.update.all.violation"></label>
												</button>
											</div> -->
										</div>

										<div class="form-group">
											<div class="table-scrollable">
												<table ng-table="tableSubscriberPortOut" class="table">
													<tr ng-repeat="item in $data" ng-class="{true:'active', false:''}[item.nprSubscriberId == rowHighlightSubscriber.nprSubscriberId]">
														<td title="'STT'" align="center" sortable="''"><strong>{{$index+1}}</strong></td>

														<td title="'Số thuê bao'" ng-click="viewSubscriberDetail(item)" style="min-width: 180px" align="center" sortable="'msisdn'">{{item.msisdn}}</td>

														<td title="'Loại thuê bao'" ng-click="viewSubscriberDetail(item)" style="min-width: 180px" align="center" sortable="'accountTypeStr'">{{item.accountTypeStr}}</td>

														<td title="'Duyệt YC hoàn trả'" ng-click="viewSubscriberDetail(item)" style="min-width: 130px" align="center" sortable="'approvedNPRStr'">{{item.approvedNPRStr}}</td>

														<td title="'Lý do từ chối hoàn trả'" align="center" ng-click="viewSubscriberDetail(item)" sortable="'rejectReason'">{{item.rejectReason}}</td>

													</tr>
												</table>
											</div>
										</div>

										<div ng-show="checkEnableBtnSendReject()">
											<h3 class="form-section">
												<label translate="vnm.form_mnp.mnp_confirm_reversal.file.upload.title"></label>
											</h3>

											<div class="form-group">
												<div class="col-md-12">
													<span class="btn blue-hoki  btn-file"> <span class="fileinput-new"> <span translate="vnm.form_mnp.mnp_postpaid.npr.file.choose.file"></span>
													</span> <input type="file" nv-file-select="" uploader="uploader" multiple="" />
													</span>
													<div class="table-scrollable">
														<table class="table table-hover">
															<thead class="ng-table-sort-header">
																<tr>
																	<th width=""><span translate="vnm.form_mnp.mnp_postpaid.npr.file.index"></span></th>
																	<th width=""><span translate="vnm.form_mnp.mnp_postpaid.npr.file.name"></span></th>
																	<th ng-show="uploader.isHTML5"><span translate="vnm.form_mnp.mnp_postpaid.npr.file.size"></span></th>
																	<th width="50px"><span translate="vnm.form_mnp.mnp_postpaid.npr.file.status"></span></th>
																	<th width="120px"></th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="item in uploader.queue">
																	<td><strong>{{ uploader.getIndexOfItem(item)+1 }}</strong></td>
																	<td><strong><a ng-click="downloadFileUploadClient(item)">{{ item.file.name }}</a></strong></td>
																	<td ng-show="uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
																	<td class="text-center"><span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span> <span ng-show="item.isCancel"><i
																			class="glyphicon glyphicon-ban-circle"></i></span> <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span></td>
																	<td nowrap="">
																		<button type="button" class="btn btn-danger btn-xs" ng-click="removeElementAttachmenByItem(item)">
																			<span class="glyphicon glyphicon-trash"></span> <label translate="vnm.form_mnp.mnp_postpaid.npr.item.delete"></label>
																		</button>
																	</td>
																</tr>
															</tbody>
														</table>
														<div>
															<div>
																<p></p>
																<div class="progress" style="">
																	<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
																</div>
															</div>
															<button type="button" class="btn btn-danger btn-s" ng-click="removeAllItem()" ng-disabled="!uploader.queue.length">
																<span class="glyphicon glyphicon-trash"></span> <label translate="vnm.form_mnp.mnp_postpaid.npr.file.clear.all.file"></label>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End Khach Hang Thue Bao -->
								</div>
							</div>

						</div>
						<div class="form-group">
							<div class="col-md-6" style="text-align: right;">
								<button type="button" class="btn btn-primary" ng-disabled="!checkEnableBtnSendAccept()" style="height: 30px;" ng-click="onclickConfirmAcceptPortOut()">
									<i class="fa fa-save"></i> <label translate="vnm.form_mnp.mnp_confirm_reversal.npr.btn.accept.port.out"></label>
								</button>
							</div>

							<div class="col-md-6" style="text-align: left;">
								<button type="button" class="btn btn-primary" ng-disabled="!checkEnableBtnSendReject()" style="height: 30px;" ng-click="onclickConfirmRejectPortOut()">
									<i class="fa fa-save"></i> <label translate="vnm.form_mnp.mnp_confirm_reversal.npr.btn.cancel.port.out"></label>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>

</body>
</html>